# EDA for TSE 1st section (2124 without financial firms) 

Exploratory data analysis for TSE 1st 2124 firms quaterly consolidated FINFSTA data.

In [1]:
# External Libraries
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

# internal module
sys.path.insert(1, '../')
from src.dataset.buid_dataset import Dataset

In [2]:
# Pandas setting
# Display 6 columns for viewing purposes
pd.set_option('display.max_columns', 50)

# Reduce decimal points to 2
pd.options.display.float_format = '{:,.2f}'.format

## Read Data
Read splited raw datasets, clean header, rplace nan, and concat through time.

In [3]:
# dir_path = "./../data/raw/FQ/FINFSTA_quarterly_consolidated"

# # get all paths in selected directody
# file_paths = os.listdir(dir_path)

# sheet_name = '決算期ベース.有価証券報告書優先.連結優先(IFRS優先)'

# df = pd.DataFrame()
# for path in file_paths:
#     # Define path
#     data_file_path = dir_path + "/" + path
    
#     # read temporary data file
#     temp = Dataset("xlsx", sheet_name, data_file_path)
#     temp.clean_header()
    
#     # concat
#     df = pd.concat([df, temp.data], axis=0)
#     print(path + " concated")

In [4]:
# # save this temporary df as csv
# df.reset_index(drop=True, inplace=True)
# df.to_csv("./../data/processed/tse1_concated.csv")

In [31]:
# read df
df = pd.read_csv("./../data/processed/tse1_concated.csv", index_col=[0])
df

,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,決算期,決算月数,連結基準フラグ,決算種別フラグ,決算発表日,事業年度開始年月日［３ヵ月］,事業年度終了年月日,純資産合計／資本合計,当期純利益（連結）［累計］,当期純利益（連結）［３ヵ月］,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数,１株当たり利益［累計］,１株当たり利益［３ヵ月］,１株当たり純資産,１株当たり配当金（各期末）,１株当たり配当金（累計）,配当金,棚卸資産,資本的支出,期末従業員数,売掛金,受取手形・売掛金／売掛金及びその他の短期債権,販売費及び一般管理費［累計］,販売費及び一般管理費［３ヵ月］
0,極洋,T1301,月次(M),1999/09,1999/09,6,0.00,22.00,NaN,NaN,1999/09/30,nan,nan,nan,"113,282,837.00",nan,"113,282,837.00",546.00,1.70,nan,80.74,nan,nan,nan,"15,996.00",nan,511.00,nan,"21,594.00","5,028.00",nan
1,極洋,T1301,月次(M),2000/03,2000/03,12,1.00,10.00,2000/05/18,NaN,2000/03/31,nan,nan,nan,"113,282,261.00",nan,"113,282,837.00",668.00,2.89,nan,93.96,3.00,nan,nan,"18,944.00","2,323.00","1,148.00",nan,"19,662.00","12,946.00",nan
2,日本水産,T1332,月次(M),1999/09,1999/09,6,0.00,22.00,NaN,NaN,1999/09/30,nan,nan,nan,"297,210,277.00",nan,"297,210,277.00","2,482.00",6.34,nan,243.73,nan,nan,nan,"30,685.00",nan,"1,890.00",nan,"46,561.00","24,606.00",nan
3,日本水産,T1332,月次(M),2000/03,2000/03,12,1.00,10.00,2000/05/26,NaN,2000/03/31,nan,nan,nan,"297,179,563.00",nan,"295,926,277.00","1,518.00",17.04,nan,274.41,4.00,nan,nan,"49,425.00","10,284.00","6,159.00",nan,"54,026.00","76,802.00",nan
4,マルハニチロ,T1333,月次(M),1999/09,1999/09,6,0.00,22.00,NaN,NaN,1999/09/30,nan,nan,nan,"300,000,000.00",nan,"300,000,000.00",452.00,4.51,nan,85.13,0.00,nan,nan,"47,633.00",nan,"1,382.00",nan,"36,463.00","17,240.00",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143868,グローセル,T9995,月次(M),2021/03,2021/03,12,1.00,10.00,2021/05/14,2021/01/01,2021/03/31,"22,501.00",-367.00,nan,"24,217,195.00",nan,"26,426,800.00","2,097,045.00",-15.17,nan,924.87,12.00,nan,nan,"10,813.00",77.00,nan,nan,"14,239.00","6,074.00",nan
143869,ベルーナ,T9997,月次(M),2020/06,2020/06,3,1.00,21.00,2020/07/31,2020/04/01,2020/06/30,"103,798.00","1,486.00","1,486.00","96,657,070.00","96,657,070.00","97,244,472.00","587,411.00",15.44,15.44,nan,nan,nan,nan,"35,174.00",nan,nan,nan,"11,772.00","26,197.00","26,197.00"
143870,ベルーナ,T9997,月次(M),2020/09,2020/09,6,1.00,22.00,2020/10/30,2020/07/01,2020/09/30,"105,489.00","2,913.00",nan,"96,660,785.00",nan,"97,244,472.00","571,586.00",30.24,14.80,nan,8.00,nan,nan,"37,817.00","4,435.00",nan,nan,"10,293.00","49,186.00",nan
143871,ベルーナ,T9997,月次(M),2020/12,2020/12,9,1.00,23.00,2021/01/29,2020/10/01,2020/12/31,"109,945.00","8,606.00",nan,"96,664,827.00",nan,"97,244,472.00","571,610.00",89.18,58.93,nan,nan,nan,nan,"38,232.00",nan,nan,nan,"13,629.00","78,646.00",nan
143872,ベルーナ,T9997,月次(M),2021/03,2021/03,12,1.00,10.00,2021/05/13,NaN,2021/03/31,"113,231.00","11,019.00",nan,"96,666,782.00",nan,"97,244,472.00","571,852.00",114.17,nan,"1,164.97",8.50,nan,nan,"36,320.00","8,912.00","3,328.00",nan,"10,242.00","105,821.00",nan

## Multiindexing Panel data with firm
https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html <br>
https://python.quantecon.org/pandas_panel.html <br>
https://deepage.net/features/pandas-multiindex.html

In [32]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', '決算期', '決算月数',
       '連結基準フラグ', '決算種別フラグ', '決算発表日', '事業年度開始年月日［３ヵ月］', '事業年度終了年月日',
       '純資産合計／資本合計', '当期純利益（連結）［累計］', '当期純利益（連結）［３ヵ月］', '期中平均株式数［累計］',
       '期中平均株式数［３ヵ月］', '期末発行済株式総数', '自己株式数', '１株当たり利益［累計］', '１株当たり利益［３ヵ月］',
       '１株当たり純資産', '１株当たり配当金（各期末）', '１株当たり配当金（累計）', '配当金', '棚卸資産', '資本的支出',
       '期末従業員数', '売掛金', '受取手形・売掛金／売掛金及びその他の短期債権', '販売費及び一般管理費［累計］',
       '販売費及び一般管理費［３ヵ月］'],
      dtype='object')

In [33]:
# drop unused column
df.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'], axis=1, inplace=True)

In [34]:
# rename firm name column
df.rename(columns={'Unnamed: 0.1': '企業名'}, inplace=True)

In [35]:
# change date columns from str to datetime
# 決算期は月データ。
# https://teratail.com/questions/280394
# https://stackoverflow.com/questions/14425133/date-object-with-year-and-month-only
for col in ['決算発表日', '事業年度開始年月日［３ヵ月］', '事業年度終了年月日']:
    df[col] = pd.to_datetime(df[col], yearfirst=True, format="%Y/%m/%d")

# df["決算期"] = df["決算期"].apply(lambda x: (int(x[:4]), int(x[4+1:])))
df

,企業名,決算期,決算月数,連結基準フラグ,決算種別フラグ,決算発表日,事業年度開始年月日［３ヵ月］,事業年度終了年月日,純資産合計／資本合計,当期純利益（連結）［累計］,当期純利益（連結）［３ヵ月］,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数,１株当たり利益［累計］,１株当たり利益［３ヵ月］,１株当たり純資産,１株当たり配当金（各期末）,１株当たり配当金（累計）,配当金,棚卸資産,資本的支出,期末従業員数,売掛金,受取手形・売掛金／売掛金及びその他の短期債権,販売費及び一般管理費［累計］,販売費及び一般管理費［３ヵ月］
0,極洋,1999/09,6,0.00,22.00,NaT,NaT,1999-09-30,nan,nan,nan,"113,282,837.00",nan,"113,282,837.00",546.00,1.70,nan,80.74,nan,nan,nan,"15,996.00",nan,511.00,nan,"21,594.00","5,028.00",nan
1,極洋,2000/03,12,1.00,10.00,2000-05-18,NaT,2000-03-31,nan,nan,nan,"113,282,261.00",nan,"113,282,837.00",668.00,2.89,nan,93.96,3.00,nan,nan,"18,944.00","2,323.00","1,148.00",nan,"19,662.00","12,946.00",nan
2,日本水産,1999/09,6,0.00,22.00,NaT,NaT,1999-09-30,nan,nan,nan,"297,210,277.00",nan,"297,210,277.00","2,482.00",6.34,nan,243.73,nan,nan,nan,"30,685.00",nan,"1,890.00",nan,"46,561.00","24,606.00",nan
3,日本水産,2000/03,12,1.00,10.00,2000-05-26,NaT,2000-03-31,nan,nan,nan,"297,179,563.00",nan,"295,926,277.00","1,518.00",17.04,nan,274.41,4.00,nan,nan,"49,425.00","10,284.00","6,159.00",nan,"54,026.00","76,802.00",nan
4,マルハニチロ,1999/09,6,0.00,22.00,NaT,NaT,1999-09-30,nan,nan,nan,"300,000,000.00",nan,"300,000,000.00",452.00,4.51,nan,85.13,0.00,nan,nan,"47,633.00",nan,"1,382.00",nan,"36,463.00","17,240.00",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143868,グローセル,2021/03,12,1.00,10.00,2021-05-14,2021-01-01,2021-03-31,"22,501.00",-367.00,nan,"24,217,195.00",nan,"26,426,800.00","2,097,045.00",-15.17,nan,924.87,12.00,nan,nan,"10,813.00",77.00,nan,nan,"14,239.00","6,074.00",nan
143869,ベルーナ,2020/06,3,1.00,21.00,2020-07-31,2020-04-01,2020-06-30,"103,798.00","1,486.00","1,486.00","96,657,070.00","96,657,070.00","97,244,472.00","587,411.00",15.44,15.44,nan,nan,nan,nan,"35,174.00",nan,nan,nan,"11,772.00","26,197.00","26,197.00"
143870,ベルーナ,2020/09,6,1.00,22.00,2020-10-30,2020-07-01,2020-09-30,"105,489.00","2,913.00",nan,"96,660,785.00",nan,"97,244,472.00","571,586.00",30.24,14.80,nan,8.00,nan,nan,"37,817.00","4,435.00",nan,nan,"10,293.00","49,186.00",nan
143871,ベルーナ,2020/12,9,1.00,23.00,2021-01-29,2020-10-01,2020-12-31,"109,945.00","8,606.00",nan,"96,664,827.00",nan,"97,244,472.00","571,610.00",89.18,58.93,nan,nan,nan,nan,"38,232.00",nan,nan,nan,"13,629.00","78,646.00",nan
143872,ベルーナ,2021/03,12,1.00,10.00,2021-05-13,NaT,2021-03-31,"113,231.00","11,019.00",nan,"96,666,782.00",nan,"97,244,472.00","571,852.00",114.17,nan,"1,164.97",8.50,nan,nan,"36,320.00","8,912.00","3,328.00",nan,"10,242.00","105,821.00",nan

In [36]:
# generate year and month column for "決算期"
df["決算期（年）"] = df["決算期"].apply(lambda x: int(x[:4]))
df["決算期（月）"] = df["決算期"].apply(lambda x: int(x[4+1:]))

In [37]:
# set multiindex ["企業名", "決算期"]
df = df.set_index(["企業名", "決算期（年）", "決算期（月）"])
df

                          決算期  決算月数  連結基準フラグ  決算種別フラグ      決算発表日  \
企業名    決算期（年） 決算期（月）
極洋     1999   9       1999/09     6     0.00    22.00        NaT
       2000   3       2000/03    12     1.00    10.00 2000-05-18
日本水産   1999   9       1999/09     6     0.00    22.00        NaT
       2000   3       2000/03    12     1.00    10.00 2000-05-26
マルハニチロ 1999   9       1999/09     6     0.00    22.00        NaT
...                       ...   ...      ...      ...        ...
グローセル  2021   3       2021/03    12     1.00    10.00 2021-05-14
ベルーナ   2020   6       2020/06     3     1.00    21.00 2020-07-31
              9       2020/09     6     1.00    22.00 2020-10-30
              12      2020/12     9     1.00    23.00 2021-01-29
       2021   3       2021/03    12     1.00    10.00 2021-05-13

                     事業年度開始年月日［３ヵ月］  事業年度終了年月日  純資産合計／資本合計  当期純利益（連結）［累計］  \
企業名    決算期（年） 決算期（月）
極洋     1999   9                 NaT 1999-09-30         nan            nan
       2000   3                 NaT 2000-03-31         nan            nan
日本水産   1999   9                 NaT 1999-09-30         nan            nan
       2000   3                 NaT 2000-03-31         nan            nan
マルハニチロ 1999   9                 NaT 1999-09-30         nan            nan
...                             ...        ...         ...            ...
グローセル  2021   3          2021-01-01 2021-03-31   22,501.00        -367.00
ベルーナ   2020   6          2020-04-01 2020-06-30  103,798.00       1,486.00
              9          2020-07-01 2020-09-30  105,489.00       2,913.00
              12         2020-10-01 2020-12-31  109,945.00       8,606.00
       2021   3                 NaT 2021-03-31  113,231.00      11,019.00

                      当期純利益（連結）［３ヵ月］    期中平均株式数［累計］  期中平均株式数［３ヵ月］  \
企業名    決算期（年） 決算期（月）
極洋     1999   9                  nan 113,282,837.00           nan
       2000   3                  nan 113,282,261.00           nan
日本水産   1999   9                  nan 297,210,277.00           nan
       2000   3                  nan 297,179,563.00           nan
マルハニチロ 1999   9                  nan 300,000,000.00           nan
...                              ...            ...           ...
グローセル  2021   3                  nan  24,217,195.00           nan
ベルーナ   2020   6             1,486.00  96,657,070.00 96,657,070.00
              9                  nan  96,660,785.00           nan
              12                 nan  96,664,827.00           nan
       2021   3                  nan  96,666,782.00           nan

                          期末発行済株式総数        自己株式数  １株当たり利益［累計］  １株当たり利益［３ヵ月］  \
企業名    決算期（年） 決算期（月）
極洋     1999   9      113,282,837.00       546.00         1.70           nan
       2000   3      113,282,837.00       668.00         2.89           nan
日本水産   1999   9      297,210,277.00     2,482.00         6.34           nan
       2000   3      295,926,277.00     1,518.00        17.04           nan
マルハニチロ 1999   9      300,000,000.00       452.00         4.51           nan
...                             ...          ...          ...           ...
グローセル  2021   3       26,426,800.00 2,097,045.00       -15.17           nan
ベルーナ   2020   6       97,244,472.00   587,411.00        15.44         15.44
              9       97,244,472.00   571,586.00        30.24         14.80
              12      97,244,472.00   571,610.00        89.18         58.93
       2021   3       97,244,472.00   571,852.00       114.17           nan

                      １株当たり純資産  １株当たり配当金（各期末）  １株当たり配当金（累計）  配当金      棚卸資産  \
企業名    決算期（年） 決算期（月）
極洋     1999   9          80.74            nan           nan  nan 15,996.00
       2000   3          93.96           3.00           nan  nan 18,944.00
日本水産   1999   9         243.73            nan           nan  nan 30,685.00
       2000   3         274.41           4.00           nan  nan 49,425.00
マルハニチロ 1999   9          85.13           0.00           nan  nan 47,633.00
...                        ...            ...           ...  ...       ...
グローセル  2021   3         924.87          12.00           nan  nan 10,813.00
ベルーナ   2020   6            nan            nan           nan  nan 35,174.00
              9            nan           8.00           nan  nan 37,817.00
              12           nan            nan           nan  nan 38,232.00
       2021   3       1,164.97           8.50           nan  nan 36,320.00

                         資本的支出   期末従業員数  売掛金  受取手形・売掛金／売掛金及びその他の短期債権  \
企業名    決算期（年） 決算期（月）
極洋     1999   9            nan   511.00  nan               21,594.00
       2000   3       2,323.00 1,148.00  nan               19,662.00
日本水産   1999   9            nan 1,890.00  nan               46,561.00
       2000   3      10,284.00 6,159.00  nan               54,026.00
マルハニチロ 1999   9            nan 1,382.00  nan               36,463.00
...                        ...      ...  ...                     ...
グローセル  2021   3          77.00      nan  nan               14,239.00
ベルーナ   2020   6            nan      nan  nan               11,772.00
              9       4,435.00      nan  nan               10,293.00
              12           nan      nan  nan               13,629.00
       2021   3       8,912.00 3,328.00  nan               10,242.00

                      販売費及び一般管理費［累計］  販売費及び一般管理費［３ヵ月］
企業名    決算期（年） 決算期（月）
極洋     1999   9             5,028.00              nan
       2000   3            12,946.00              nan
日本水産   1999   9            24,606.00              nan
       2000   3            76,802.00              nan
マルハニチロ 1999   9            17,240.00              nan
...                              ...              ...
グローセル  2021   3             6,074.00              nan
ベルーナ   2020   6            26,197.00        26,197.00
              9            49,186.00              nan
              12           78,646.00              nan
       2021   3           105,821.00              nan

[143873 rows x 27 columns]

In [38]:
df.index.get_level_values("企業名").unique()

Index(['極洋', '日本水産', 'マルハニチロ', 'ホウスイ', 'カネコ種苗', 'サカタのタネ', 'ホクト', '日鉄鉱業',
       '三井松島ホールディングス', '石油資源開発',
       ...
       'ブックオフグループホールディン', '東京インフラ・エネルギー投資法', 'エネクス・インフラ投資法人',
       'サンケイリアルエステート投資法', 'ＳＯＳｉＬＡ物流リート投資法人', 'ヒト・コミュニケーションズ・ホ', 'テスホールディングス',
       '薬王堂ホールディングス', 'ＡＤワークスグループ', 'ジャパン・インフラファンド投資'],
      dtype='object', name='企業名', length=2120)

In [39]:
df.index.get_level_values("決算期（年）").unique()

Int64Index([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
            2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
            2021],
           dtype='int64', name='決算期（年）')

In [40]:
df.index.get_level_values("決算期（月）").unique()

Int64Index([9, 3, 5, 11, 2, 6, 12, 4, 10, 7, 1, 8], dtype='int64', name='決算期（月）')

In [42]:
df.loc["日本水産", 2017, 6]

決算期                                   2017/06
決算月数                                        3
連結基準フラグ                                  1.00
決算種別フラグ                                 21.00
決算発表日                     2017-08-04 00:00:00
事業年度開始年月日［３ヵ月］            2017-04-01 00:00:00
事業年度終了年月日                 2017-06-30 00:00:00
純資産合計／資本合計                         143,449.00
当期純利益（連結）［累計］                        5,324.00
当期純利益（連結）［３ヵ月］                       5,324.00
期中平均株式数［累計］                    311,484,262.00
期中平均株式数［３ヵ月］                   311,484,262.00
期末発行済株式総数                      312,430,277.00
自己株式数                              946,522.00
１株当たり利益［累計］                             16.58
１株当たり利益［３ヵ月］                            16.58
１株当たり純資産                                  NaN
１株当たり配当金（各期末）                             NaN
１株当たり配当金（累計）                              NaN
配当金                                       NaN
棚卸資産                               113,348.00
資本的支出                                     NaN
期末従業員数                                    NaN
売掛金                                       NaN
受取手形・売掛金／売掛金及びその他の短期債権              78,574.00
販売費及び一般管理費［累計］                      29,745.00
販売費及び一般管理費［３ヵ月］                     29,745.00
Name: (日本水産, 2017, 6), dtype: object

In [47]:
# https://note.nkmk.me/python-pandas-multiindex-indexing/
df.loc[pd.IndexSlice[["極洋", "ホウスイ"], [2018, 2010], [3, 12]], :]

,,,決算期,決算月数,連結基準フラグ,決算種別フラグ,決算発表日,事業年度開始年月日［３ヵ月］,事業年度終了年月日,純資産合計／資本合計,当期純利益（連結）［累計］,当期純利益（連結）［３ヵ月］,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数,１株当たり利益［累計］,１株当たり利益［３ヵ月］,１株当たり純資産,１株当たり配当金（各期末）,１株当たり配当金（累計）,配当金,棚卸資産,資本的支出,期末従業員数,売掛金,受取手形・売掛金／売掛金及びその他の短期債権,販売費及び一般管理費［累計］,販売費及び一般管理費［３ヵ月］
企業名,決算期（年）,決算期（月）,,,,,,,,,,,,,,,,,,,,,,,,,,,
極洋,2010,3,2010/03,12,1.00,10.00,2010-05-14,2010-01-01,2010-03-31,"18,538.00",nan,nan,"105,810,000.00",nan,"109,282,837.00","3,473,383.00",10.27,0.87,170.61,5.00,nan,nan,"23,187.00","2,904.00","2,909.00",nan,"15,845.00","15,670.00",nan
ホウスイ,2010,3,2010/03,12,1.00,10.00,2010-05-13,2010-01-01,2010-03-31,"5,439.00",nan,nan,"83,752,000.00",nan,"83,790,000.00","39,357.00",2.72,0.16,62.93,2.00,nan,nan,"1,003.00","1,985.00",231.00,nan,"2,628.00","2,934.00",nan
極洋,2010,12,2010/12,9,1.00,23.00,2011-02-04,2010-10-01,2010-12-31,"18,207.00",631.00,862.00,"105,709,805.00","105,512,000.00","109,282,837.00","4,184,693.00",5.85,8.18,168.52,nan,nan,nan,"29,711.00","1,739.00","2,700.00",nan,"28,208.00","12,778.00","4,473.00"
ホウスイ,2010,12,2010/12,9,1.00,23.00,2011-01-27,2010-10-01,2010-12-31,"5,434.00",167.00,87.00,"83,750,039.00","83,749,000.00","83,790,000.00","40,400.00",1.73,0.90,62.64,nan,nan,nan,"1,335.00",805.00,226.00,nan,"4,853.00","2,134.00",717.00
極洋,2018,3,2018/03,12,1.00,10.00,2018-05-10,2018-01-01,2018-03-31,"29,243.00","3,136.00",nan,"10,552,710.00",nan,"10,928,283.00","144,712.00",304.29,39.90,"2,679.00",60.00,nan,nan,"39,921.00","1,372.00","2,257.00",nan,"32,879.00","19,536.00",nan
ホウスイ,2018,3,2018/03,12,1.00,10.00,2018-05-14,2018-01-01,2018-03-31,"6,480.00",499.00,nan,"8,374,011.00",nan,"8,379,000.00","5,225.00",50.68,-5.55,710.73,20.00,nan,nan,"1,950.00",491.00,321.00,nan,"6,997.00","4,874.00",nan
極洋,2018,12,2018/12,9,1.00,23.00,2019-02-08,2018-10-01,2018-12-31,"31,533.00","2,537.00",nan,"10,807,451.00",nan,"10,928,283.00","109,112.00",231.46,155.01,nan,nan,nan,nan,"46,206.00",nan,nan,nan,"51,332.00","15,091.00",nan
ホウスイ,2018,12,2018/12,9,1.00,23.00,2019-01-31,2018-10-01,2018-12-31,"6,509.00",221.00,nan,"8,373,737.00",nan,"8,379,000.00","5,312.00",17.30,9.14,706.05,nan,nan,nan,"2,276.00",nan,nan,nan,"10,532.00","3,789.00",nan

In [105]:
# save multiindexed df
df.to_csv("./../data/processed/tse1_multiindexed.csv")

In [109]:
df = pd.read_csv("./../data/processed/tse1_multiindexed.csv", index_col=[0, 1, 2])

In [115]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 143873 entries, ('極洋', 1999, 9) to ('ベルーナ', 2021, 3)
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   決算期                     143873 non-null  object
 1   決算月数                    143873 non-null  int64
 2   連結基準フラグ                 143797 non-null  float64
 3   決算種別フラグ                 143797 non-null  float64
 4   決算発表日                   139370 non-null  object
 5   事業年度開始年月日［３ヵ月］          104293 non-null  object
 6   事業年度終了年月日               143567 non-null  object
 7   純資産合計／資本合計              111820 non-null  float64
 8   当期純利益（連結）［累計］           76638 non-null   float64
 9   当期純利益（連結）［３ヵ月］          25446 non-null   float64
 10  期中平均株式数［累計］             126866 non-null  float64
 11  期中平均株式数［３ヵ月］            37750 non-null   float64
 12  期末発行済株式総数               128692 non-null  float64
 13  自己株式数                   116206 non-null  float64
 14  １株当たり利益［累計］             139251 non-null  float64
 15  １株当たり利益［３ヵ月］            100407 non-null  float64
 16  １株当たり純資産                102761 non-null  float64
 17  １株当たり配当金（各期末）           73695 non-null   float64
 18  １株当たり配当金（累計）            19 non-null      float64
 19  配当金                     0 non-null       float64
 20  棚卸資産                    134532 non-null  float64
 21  資本的支出                   102154 non-null  float64
 22  期末従業員数                  72398 non-null   float64
 23  売掛金                     624 non-null     float64
 24  受取手形・売掛金／売掛金及びその他の短期債権  139935 non-null  float64
 25  販売費及び一般管理費［累計］          140578 non-null  float64
 26  販売費及び一般管理費［３ヵ月］         45665 non-null   float64
dtypes: float64(22), int64(1), object(4)
memory usage: 35.3+ MB