In [1]:
# external modules
import sys
import random
import numpy as np
import pandas as pd
import collections
import matplotlib.pyplot as plt
import japanize_matplotlib
from matplotlib.dates import DateFormatter
import seaborn as sns
import plotly.graph_objects as go
import statsmodels.api as sm

# Pandas setting
# Display 6 columns for viewing purposes
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

# Reduce decimal points to 2
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# read temporary processed data
df = pd.read_csv("./../data/processed/tse1_unitchanged.csv", index_col=[0, 1, 2])
df_2008 = pd.read_csv("../data/processed/tse1_2008_balanced.csv", index_col=[0, 1, 2])

## 欠損処理

In [3]:
# # Visualize Missing Value in df_2008
# fig, ax = plt.subplots(figsize=(10, 100))
# ax = sns.heatmap(df_2008.isna(), cmap="binary", linewidths=0, linecolor="gray")
# ax.set_title("Missing Values in Original Dataset (all firm)")
# plt.show()

* 資本的支出と期末従業員数

四半期データは2008年に四半期開始、2011に簡素化されてる。(簡素化後、3ヶ月は任意。累積は義務)  
https://www.asb.or.jp/jp/accounting_standards/accounting_standards/y2007/2007-0314.html  
https://www.asb.or.jp/jp/accounting_standards/accounting_standards/y2011/2011-0325.html  
簡素化に伴い、資本的支出(CF計算書)、期末従業員数の報告が四半期で報告されなくなる。
--> Zhang et al. (2004)に倣い、資本的支出は4等分、期末従業員数は一定とする。

In [4]:
# proportion of missing value
df_2008[["資本的支出", "期末従業員数"]].isna().mean()

資本的支出    0.30
期末従業員数   0.54
dtype: float64

In [5]:
df_2008[["資本的支出", "期末従業員数"]].describe()

                     資本的支出     期末従業員数
count            51,955.00  34,556.00
mean     18,533,372,129.73   9,439.12
std     108,863,616,446.61  30,128.37
min           1,000,000.00      13.00
25%         411,000,000.00     730.00
50%       1,639,000,000.00   1,849.00
75%       6,891,000,000.00   5,690.25
max   5,121,960,000,000.00 385,243.00

* 期末従業員数

欠損は前四半期時点の従業員数を代入する。(従業員数は変化していないという仮定)

In [6]:
df_2008.loc[pd.IndexSlice[:, 2008, 6], :]["期末従業員数"].isna().sum()

52

In [7]:
df_2008.loc[pd.IndexSlice[:, 2008, 6], :]["期末従業員数"][
    df_2008.loc[pd.IndexSlice[:, 2008, 6], :]["期末従業員数"].isna()
]

企業名              決算期（年）  決算期（月）
ひらまつ             2008    6        nan
アルインコ            2008    6        nan
エムティーアイ          2008    6        nan
カワチ薬品            2008    6        nan
キャリアデザインセンター     2008    6        nan
キーエンス            2008    6        nan
グリムス             2008    6        nan
コナカ              2008    6        nan
サイバーエージェント       2008    6        nan
システムソフト          2008    6        nan
シミックホールディングス     2008    6        nan
ジャパンベストレスキューシステ  2008    6        nan
ステップ             2008    6        nan
ティア              2008    6        nan
ディア・ライフ          2008    6        nan
ネクシィーズグループ       2008    6        nan
パラカ              2008    6        nan
ファルコホールディングス     2008    6        nan
フルキャストホールディングス   2008    6        nan
ホソカワミクロン         2008    6        nan
メディカルシステムネットワーク  2008    6        nan
ヤマウラ             2008    6        nan
ヤマト              2008    6        nan
ユニカフェ            2008    6        nan
ヨコレイ             2008    6        nan
ランドビジネス          2008    6        nan
リニカル             2008    6        nan
丸山製作所            2008    6        nan
伊藤忠食品            2008    6        nan
前田工繊             2008    6        nan
加藤産業             2008    6        nan
富士製薬工業           2008    6        nan
日本マイクロニクス        2008    6        nan
日本農薬             2008    6        nan
日精エー・エス・ビー機械     2008    6        nan
未来工業             2008    6        nan
東京一番フーズ          2008    6        nan
東陽テクニカ           2008    6        nan
浜松ホトニクス          2008    6        nan
石塚硝子             2008    6        nan
第一稀元素化学工業        2008    6        nan
西尾レントオール         2008    6        nan
長大               2008    6        nan
長谷川香料            2008    6        nan
ＢＥＥＮＯＳ           2008    6        nan
ＣＥホールディングス       2008    6        nan
ＥＰＳホールディングス      2008    6        nan
ＧＭＯペイメントゲートウェイ   2008    6        nan
ＯＢＡＲＡ　ＧＲＯＵＰ      2008    6        nan
ＰＬＡＮＴ            2008    6        nan
ＳＨＯＥＩ            2008    6        nan
ＴＫＣ              2008    6        nan
Name: 期末従業員数, dtype: float64

最初の期2008Q1が欠損してしまっている企業が 52 / 1436 ある。df_2008だけでは欠損値補填ができないのでdfに戻ってさらにさかのぼって補填

In [8]:
year_range = np.arange(2008, 2021)
month_range = [6, 9, 12, 3]

# check if firm recorded in all quater
# start from firm recorded in 2008Q1
recorded_firm_from_2008 = set(df.loc[pd.IndexSlice[:, 2008, 6], :].index.get_level_values("企業名").unique())

for i in year_range:
    for j in month_range:
        if j == 3: # if Mar, +1 year
            i += 1
        recorded_firm_from_2008 = recorded_firm_from_2008 & set(df.loc[pd.IndexSlice[:, i, j], :].index.get_level_values("企業名").unique())

df_2008 = df.loc[pd.IndexSlice[recorded_firm_from_2008, :, :], :] # 遡るためrecorded_firm_from_2008の企業の全期間 : のデータフレームをもう一度作成

In [9]:
df_2008.loc[pd.IndexSlice[["アサヒグループホールディングス", "アシックス"], :, :], :]["期末従業員数"].iloc[70:90]

企業名              決算期（年）  決算期（月）
アサヒグループホールディングス  2018    6              nan
                         9              nan
                         12       28,055.00
                 2019    3              nan
                         6              nan
                         9              nan
                         12       29,327.00
                 2020    3              nan
                         6              nan
                         9              nan
                         12       29,850.00
                 2021    3              nan
アシックス            1999    9              nan
                 2000    3         4,270.00
                         9         4,348.00
                 2001    3         4,273.00
                         9         4,233.00
                 2002    3         4,109.00
                         9         4,236.00
                 2003    3         4,132.00
Name: 期末従業員数, dtype: float64

In [10]:
# forward fill groupby firm level
df_2008["期末従業員数"] = df_2008.groupby(level=0)["期末従業員数"].fillna(method='ffill')

<ipython-input-10-4ee0692f63b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008["期末従業員数"] = df_2008.groupby(level=0)["期末従業員数"].fillna(method='ffill')

In [11]:
df_2008.loc[pd.IndexSlice[["アサヒグループホールディングス", "アシックス"], :, :], :]["期末従業員数"].iloc[70:90]

企業名              決算期（年）  決算期（月）
アサヒグループホールディングス  2018    6        30,864.00
                         9        30,864.00
                         12       28,055.00
                 2019    3        28,055.00
                         6        28,055.00
                         9        28,055.00
                         12       29,327.00
                 2020    3        29,327.00
                         6        29,327.00
                         9        29,327.00
                         12       29,850.00
                 2021    3        29,850.00
アシックス            1999    9              nan
                 2000    3         4,270.00
                         9         4,348.00
                 2001    3         4,273.00
                         9         4,233.00
                 2002    3         4,109.00
                         9         4,236.00
                 2003    3         4,132.00
Name: 期末従業員数, dtype: float64

* 資本的支出

欠損はほとんど半期報告のため。  
半期の値を2で割って前四半期に割り当てる。  
1年報告しかしていないなら4で割って各四半期に割り当てる。

まずは資本的支出の欠損パターンを確認

In [12]:
# check missing patterns
df_2008_capxisna = df_2008.loc[pd.IndexSlice[:, 2008:, 3:], :][
    df_2008.loc[pd.IndexSlice[:, 2008:, 3:], :]["資本的支出"].isna()
]

df_2008_capxisna.index.get_level_values("決算期（月）").unique()

Int64Index([9, 3, 6, 12], dtype='int64', name='決算期（月）')

どの四半期も欠損し得る

In [13]:
df_2008_capxisna["資本的支出"]

企業名          決算期（年）  決算期（月）
あい　ホールディングス  2011    9        nan
             2012    3        nan
                     9        nan
             2013    3        nan
                     9        nan
                               ..
ｅＢＡＳＥ        2018    12       nan
             2019    6        nan
                     12       nan
             2020    6        nan
                     12       nan
Name: 資本的支出, Length: 22747, dtype: float64

In [14]:
# firm missing Q1
missQ1 = df_2008_capxisna.loc[pd.IndexSlice[:, :, [6]], :]["資本的支出"].index.get_level_values(0).unique()
missQ1

Index(['あみやき亭', 'あらた', 'いすゞ自動車', 'いなげや', 'きんでん', 'ぐるなび', 'さくらインターネット', 'たけびし',
       'なとり', 'はせがわ',
       ...
       'ＴＯＹＯ　ＴＩＲＥ', 'ＴＰＲ', 'ＴＹＫ', 'ＵＡＣＪ', 'ＵＴグループ', 'ＶＴホールディングス',
       'ＷＤＢホールディングス', 'ＷＯＷＯＷ', 'ＺＯＺＯ', 'ｅＢＡＳＥ'],
      dtype='object', name='企業名', length=1082)

In [15]:
# firm missing Q2
missQ2 = df_2008_capxisna.loc[pd.IndexSlice[:, :, [9]], :]["資本的支出"].index.get_level_values(0).unique()
missQ2

Index(['あい　ホールディングス', 'いであ', 'きちりホールディングス', 'ひらまつ', 'アイティメディア', 'アイフィスジャパン',
       'アイ・エス・ビー', 'アイ・オー・データ機器', 'アウトソーシング', 'アグロ　カネショウ',
       ...
       'ＧＭＯペパボ', 'Ｉ－ＰＥＸ', 'ＩＮＰＥＸ', 'ＪＵＫＩ', 'ＫＮＴ－ＣＴホールディングス', 'ＭｏｎｏｔａＲＯ', 'ＮＪＳ',
       'ＳＢＳホールディングス', 'ＴＨＫ', 'ＴＯＹＯ　ＴＩＲＥ'],
      dtype='object', name='企業名', length=194)

In [16]:
# firm missing Q3
missQ3 = df_2008_capxisna.loc[pd.IndexSlice[:, :, [12]], :]["資本的支出"].index.get_level_values(0).unique()
missQ3

Index(['あみやき亭', 'あらた', 'いすゞ自動車', 'いなげや', 'きんでん', 'ぐるなび', 'さくらインターネット', 'たけびし',
       'なとり', 'はせがわ',
       ...
       'ＴＯＹＯ　ＴＩＲＥ', 'ＴＰＲ', 'ＴＹＫ', 'ＵＡＣＪ', 'ＵＴグループ', 'ＶＴホールディングス',
       'ＷＤＢホールディングス', 'ＷＯＷＯＷ', 'ＺＯＺＯ', 'ｅＢＡＳＥ'],
      dtype='object', name='企業名', length=1074)

In [17]:
# firm missing Q4
missQ4 = df_2008_capxisna.loc[pd.IndexSlice[:, :, [3]], :]["資本的支出"].index.get_level_values(0).unique()
missQ4

Index(['あい　ホールディングス', 'いであ', 'きちりホールディングス', 'アイフィスジャパン', 'アイ・エス・ビー',
       'アイ・オー・データ機器', 'アウトソーシング', 'アグロ　カネショウ', 'アゴーラ　ホスピタリティー　グ',
       'アサヒグループホールディングス',
       ...
       'ＧＭＯペパボ', 'Ｉ－ＰＥＸ', 'ＩＮＰＥＸ', 'ＪＵＫＩ', 'ＫＮＴ－ＣＴホールディングス', 'ＭｏｎｏｔａＲＯ', 'ＮＪＳ',
       'ＳＢＳホールディングス', 'ＴＨＫ', 'ＴＯＹＯ　ＴＩＲＥ'],
      dtype='object', name='企業名', length=194)

In [18]:
missQ1 & missQ2 & missQ3 & missQ4

Index(['アシックス', 'インテージホールディングス', 'エス・サイエンス', 'オムロン', 'クラレ', 'コナミホールディングス',
       'サイバネットシステム', 'サイバーコム', 'サカタインクス', 'システムソフト', 'ソディック', 'ソリトンシステムズ',
       'デジタルガレージ', 'トラスコ中山', 'フルキャストホールディングス', 'マキタ', 'メック', 'ユニカフェ',
       'ユニ・チャーム', 'ローランド　ディー．ジー．', 'ヴィンクス', '井関農機', '富士ソフト', '小林製薬', '市光工業',
       '手間いらず', '日本ペイントホールディングス', '日本商業開発', '日機装', '日清紡ホールディングス', '日華化学',
       '星光ＰＭＣ', '東京応化工業', '東洋インキＳＣホールディングス', '江崎グリコ', '資生堂', '電通国際情報サービス',
       '鳥居薬品', 'ＩＮＰＥＸ', 'ＫＮＴ－ＣＴホールディングス', 'ＴＨＫ', 'ＴＯＹＯ　ＴＩＲＥ'],
      dtype='object', name='企業名')

In [19]:
df_2008.loc[pd.IndexSlice["日本商業開発", :, :], :]["資本的支出"]

企業名     決算期（年）  決算期（月）
日本商業開発  2003    3                   nan
        2004    3                   nan
        2005    3                   nan
        2006    3        107,000,000.00
        2007    3        150,000,000.00
                9                   nan
                12                  nan
        2008    3                   nan
                6                   nan
                9         52,000,000.00
                12        53,000,000.00
        2009    3         53,000,000.00
                6                   nan
                9                   nan
                12                  nan
        2010    3         10,000,000.00
                6         20,000,000.00
                9         20,000,000.00
                12        20,000,000.00
        2011    3         20,000,000.00
                6                   nan
                9                   nan
                12                  nan
        2012    3                   nan
                6                   nan
                9                   nan
                12                  nan
        2013    3                   nan
                6                   nan
                9                   nan
                12                  nan
        2014    3         10,000,000.00
                6                   nan
                9                   nan
                12                  nan
        2015    3          1,000,000.00
                6                   nan
                9         61,000,000.00
                12                  nan
        2016    3        169,000,000.00
                6                   nan
                9         92,000,000.00
                12                  nan
        2017    3        123,000,000.00
                6                   nan
                9         39,000,000.00
                12                  nan
        2018    3         42,000,000.00
                6                   nan
                9        266,000,000.00
                12                  nan
        2019    3        571,000,000.00
                6                   nan
                9         34,000,000.00
                12                  nan
        2020    3        196,000,000.00
                6                   nan
                9         33,000,000.00
                12        73,000,000.00
        2021    3                   nan
Name: 資本的支出, dtype: float64

めんどくせぇ、でもどちらにせよ後の発表された資本的支出の額に前の欠損値分の資本的支出が含まれていて、欠損の分を問う分割して配分すればおっけー。

全部欠損している企業はもうどうしようもない、サンプルから落とすしかない。

In [20]:
# 欠損 50% 以上
len(df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=0)[
    df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=0) >= 0.5
])

7

In [21]:
# 欠損 40% 以上
len(df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=0)[
    df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=0) >= 0.4
])

16

In [22]:
# 欠損 30% 以上
len(df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=0)[
    df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=0) >= 0.3
])

1082

In [23]:
df_2008.loc[pd.IndexSlice["システムソフト", 2008:, :], :]["資本的支出"]

企業名      決算期（年）  決算期（月）
システムソフト  2008    3          1,000,000.00
                 6          3,000,000.00
                 9          5,000,000.00
                 12                  nan
         2009    3                   nan
                 6                   nan
                 9                   nan
                 12        12,000,000.00
         2010    3         12,000,000.00
                 6         12,000,000.00
                 9         12,000,000.00
                 12                  nan
         2011    3                   nan
                 6                   nan
                 9        944,000,000.00
                 12                  nan
         2012    3          1,000,000.00
                 6                   nan
                 9         21,000,000.00
                 12                  nan
         2013    3         26,000,000.00
                 6                   nan
                 9         54,000,000.00
                 12                  nan
         2014    3        111,000,000.00
                 6                   nan
                 9        157,000,000.00
                 12                  nan
         2015    3         13,000,000.00
                 6                   nan
                 9         56,000,000.00
                 12                  nan
         2016    3         54,000,000.00
                 6                   nan
                 9         72,000,000.00
                 12                  nan
         2017    3        412,000,000.00
                 6                   nan
                 9        411,000,000.00
                 12                  nan
         2018    3                   nan
                 6                   nan
                 9         21,000,000.00
                 12                  nan
         2019    3         21,000,000.00
                 6                   nan
                 9        101,000,000.00
                 12                  nan
         2020    3         35,000,000.00
                 6                   nan
                 9         39,000,000.00
                 12                  nan
         2021    3         13,000,000.00
Name: 資本的支出, dtype: float64

欠損率が大きくても、これなら埋めれる。(会計年度内最低1回報告している)

In [24]:
df_2008.loc[pd.IndexSlice["マキタ", 2008:, :], :]["資本的支出"]

企業名  決算期（年）  決算期（月）
マキタ  2008    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2009    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2010    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2011    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2012    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2013    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2014    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2015    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2016    3                      nan
             6                      nan
             9                      nan
             12                     nan
     2017    3                      nan
             6         3,927,000,000.00
             9         7,722,000,000.00
             12       11,076,000,000.00
     2018    3        15,045,000,000.00
             6         7,171,000,000.00
             9        12,106,000,000.00
             12       17,451,000,000.00
     2019    3        23,867,000,000.00
             6         9,045,000,000.00
             9        16,839,000,000.00
             12       33,128,000,000.00
     2020    3        44,409,000,000.00
             6        10,189,000,000.00
             9        23,434,000,000.00
             12       36,219,000,000.00
     2021    3        49,855,000,000.00
Name: 資本的支出, dtype: float64

このような欠損(１年に渡って欠損している)は救いようがない

チェックすべき(除外すべき)なのは、会計年度1年を通して欠損している企業かどうか consecutive nan

levelを会計年度にするためにmultiindexしなおす

In [25]:
# change index to 会計年度, 四半期
df_2008["会計年度"] = df_2008["決算期"].apply(lambda x: int(x[:4])-1 if int(x[-2:]) <= 3 else int(x[:4])) # 1, 2, 3月なら西暦-1
df_2008["四半期"] = df_2008["決算期"].apply(lambda x: 
                            "Q1" if int(x[-2:]) ==  6 else (
                            "Q2" if int(x[-2:]) ==  9 else (
                            "Q3" if int(x[-2:]) == 12 else (
                            "Q4" if int(x[-2:]) ==  3 else (
                            "NonMar" + x[-2:]
                            ))))
                           )

<ipython-input-25-6295ca30ea3d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008["会計年度"] = df_2008["決算期"].apply(lambda x: int(x[:4])-1 if int(x[-2:]) <= 3 else int(x[:4])) # 1, 2, 3月なら西暦-1
<ipython-input-25-6295ca30ea3d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008["四半期"] = df_2008["決算期"].apply(lambda x:

In [26]:
# set multiindex ["企業名", "会計年度", "四半期"]
df_2008.reset_index(inplace=True)
df_2008.set_index(["企業名", "会計年度", "四半期"], inplace=True)

In [27]:
df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=[0, 1])[
    df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=[0, 1]) == 1
]

企業名          会計年度
エス・サイエンス     2017   1.00
             2019   1.00
オムロン         2009   1.00
             2012   1.00
             2014   1.00
             2015   1.00
             2019   1.00
コナミホールディングス  2008   1.00
             2010   1.00
             2011   1.00
             2013   1.00
             2014   1.00
             2015   1.00
             2016   1.00
マキタ          2008   1.00
             2009   1.00
             2010   1.00
             2011   1.00
             2012   1.00
             2013   1.00
             2014   1.00
             2015   1.00
             2016   1.00
手間いらず        2014   1.00
             2019   1.00
日本商業開発       2011   1.00
             2012   1.00
Name: 資本的支出, dtype: float64

2008年度以降、1会計年間に１つも資本的支出が観測されていないのは27年

In [28]:
whole_miss_capx = df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=[0, 1])[
    df_2008.loc[pd.IndexSlice[:, 2008:, :], :]["資本的支出"].isna().mean(level=[0, 1]) == 1
].index.get_level_values(0).unique()

whole_miss_capx

Index(['エス・サイエンス', 'オムロン', 'コナミホールディングス', 'マキタ', '手間いらず', '日本商業開発'], dtype='object', name='企業名')

この企業は会計年度1年間丸ごと欠損しているのでサンプルから drop していい

欠損パターンは("Q1", "Q3"), ("Q2", "Q4"), ("Q1", "Q2", "Q3"), ("Q2", "Q3", "Q4"), ("Q1", "Q2", "Q4), ("Q1", "Q3", "Q4)か、1つだけ、もしくは全部(これはdropする)

In [29]:
# previous_fiscal_year = None
# # for i in df_2008.index.get_level_values(0).unique():
# for i in df_2008.index.get_level_values(0).unique():
# #     print(i)
#     for j in df_2008.loc[pd.IndexSlice[i, 2008:, :], :].index.get_level_values(1).unique():
#         temp_df = df_2008.loc[pd.IndexSlice[i, j, :], :]["資本的支出"]
# #         print(temp_df)
#         if temp_df.isna().sum() > 0:
# #             print("missing")
#             missing_type = list(temp_df[temp_df.isna()].index.get_level_values(2).values)
# #             print("missing type: ", temp_df[temp_df.isna()].index.get_level_values(2).values)
#             if missing_type == ["Q1", "Q3"]:
#                 pass
#             elif missing_type == ["Q2", "Q4"]:
#                 pass
#             elif missing_type == ["Q1", "Q2", "Q3"]:
#                 print(i)
#                 print("missing type: ", temp_df[temp_df.isna()].index.get_level_values(2).values)
#                 pass
#             else:
#                 print(i)
#                 print("missing type: ", temp_df[temp_df.isna()].index.get_level_values(2).values)
#                 pass
#         else:
# #             print("no missing")
#             pass

In [30]:
df_2008.loc[pd.IndexSlice["オムロン", :, :], :]["資本的支出"].iloc[0:100]

企業名   会計年度  四半期
オムロン  1999  Q2                  nan
            Q4    31,146,000,000.00
      2000  Q2                  nan
            Q4    37,583,000,000.00
      2001  Q2                  nan
            Q4    38,896,000,000.00
      2002  Q2                  nan
            Q4    34,454,000,000.00
      2003  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4    38,115,000,000.00
      2004  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4    38,579,000,000.00
      2005  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4    40,560,000,000.00
      2006  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4    44,689,000,000.00
      2007  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2008  Q1        17,000,000.00
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2009  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2010  Q1       223,000,000.00
            Q2        64,000,000.00
            Q3       741,000,000.00
            Q4                  nan
      2011  Q1        34,000,000.00
            Q2       160,000,000.00
            Q3        94,000,000.00
            Q4       101,000,000.00
      2012  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2013  Q1                  nan
            Q2        44,000,000.00
            Q3        29,000,000.00
            Q4                  nan
      2014  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2015  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2016  Q1                  nan
            Q2                  nan
            Q3        33,000,000.00
            Q4       145,000,000.00
      2017  Q1        95,000,000.00
            Q2       291,000,000.00
            Q3       365,000,000.00
            Q4       634,000,000.00
      2018  Q1       126,000,000.00
            Q2       217,000,000.00
            Q3        78,000,000.00
            Q4       193,000,000.00
      2019  Q1                  nan
            Q2                  nan
            Q3                  nan
            Q4                  nan
      2020  Q1                  nan
            Q2         3,000,000.00
            Q3        51,000,000.00
            Q4       189,000,000.00
Name: 資本的支出, dtype: float64

In [31]:
df_2008.loc[pd.IndexSlice["システムソフト", :, :], :]["資本的支出"].iloc[0:100]

企業名      会計年度  四半期
システムソフト  1999  Q2               nan
               Q4    143,000,000.00
         2000  Q2      7,000,000.00
               Q4     20,000,000.00
         2001  Q2     26,000,000.00
               Q4     34,000,000.00
         2002  Q2     65,000,000.00
               Q4    101,000,000.00
         2003  Q1      2,000,000.00
               Q2      6,000,000.00
               Q3      5,000,000.00
               Q4      7,000,000.00
         2004  Q1      1,000,000.00
               Q2      5,000,000.00
               Q3      8,000,000.00
               Q4     12,000,000.00
         2005  Q1      8,000,000.00
               Q2      9,000,000.00
               Q3     10,000,000.00
               Q4               nan
         2006  Q1      9,000,000.00
               Q2     26,000,000.00
               Q3     24,000,000.00
               Q4     31,000,000.00
         2007  Q1     36,000,000.00
               Q2     44,000,000.00
               Q3      1,000,000.00
               Q4      1,000,000.00
         2008  Q1      3,000,000.00
               Q2      5,000,000.00
               Q3               nan
               Q4               nan
         2009  Q1               nan
               Q2               nan
               Q3     12,000,000.00
               Q4     12,000,000.00
         2010  Q1     12,000,000.00
               Q2     12,000,000.00
               Q3               nan
               Q4               nan
         2011  Q1               nan
               Q2    944,000,000.00
               Q3               nan
               Q4      1,000,000.00
         2012  Q1               nan
               Q2     21,000,000.00
               Q3               nan
               Q4     26,000,000.00
         2013  Q1               nan
               Q2     54,000,000.00
               Q3               nan
               Q4    111,000,000.00
         2014  Q1               nan
               Q2    157,000,000.00
               Q3               nan
               Q4     13,000,000.00
         2015  Q1               nan
               Q2     56,000,000.00
               Q3               nan
               Q4     54,000,000.00
         2016  Q1               nan
               Q2     72,000,000.00
               Q3               nan
               Q4    412,000,000.00
         2017  Q1               nan
               Q2    411,000,000.00
               Q3               nan
               Q4               nan
         2018  Q1               nan
               Q2     21,000,000.00
               Q3               nan
               Q4     21,000,000.00
         2019  Q1               nan
               Q2    101,000,000.00
               Q3               nan
               Q4     35,000,000.00
         2020  Q1               nan
               Q2     39,000,000.00
               Q3               nan
               Q4     13,000,000.00
Name: 資本的支出, dtype: float64

In [32]:
df_2008.loc[pd.IndexSlice["ＴＨＫ", :, :], :]["資本的支出"].iloc[0:100]

企業名  会計年度  四半期
ＴＨＫ  1999  Q2                  nan
           Q4     4,857,000,000.00
     2000  Q2     4,009,000,000.00
           Q4    11,076,000,000.00
     2001  Q2     7,647,000,000.00
           Q4     9,226,000,000.00
     2002  Q2     2,578,000,000.00
           Q4     4,759,000,000.00
     2003  Q1     1,624,000,000.00
           Q2     2,500,000,000.00
           Q3     3,802,000,000.00
           Q4     5,105,000,000.00
     2004  Q1     1,774,000,000.00
           Q2     2,663,000,000.00
           Q3     6,001,000,000.00
           Q4     6,963,000,000.00
     2005  Q1     2,712,000,000.00
           Q2     6,989,000,000.00
           Q3     8,524,000,000.00
           Q4    12,520,000,000.00
     2006  Q1     2,601,000,000.00
           Q2     5,386,000,000.00
           Q3     8,845,000,000.00
           Q4    12,848,000,000.00
     2007  Q1    15,305,000,000.00
           Q2     8,995,000,000.00
           Q3    14,327,000,000.00
           Q4    19,618,000,000.00
     2008  Q1     4,101,000,000.00
           Q2     8,797,000,000.00
           Q3    11,966,000,000.00
           Q4    16,504,000,000.00
     2009  Q1     2,189,000,000.00
           Q2     4,429,000,000.00
           Q3     5,756,000,000.00
           Q4     7,230,000,000.00
     2010  Q1     1,182,000,000.00
           Q2     2,568,000,000.00
           Q3     4,305,000,000.00
           Q4     6,056,000,000.00
     2011  Q1                  nan
           Q2     6,435,000,000.00
           Q3                  nan
           Q4    13,124,000,000.00
     2012  Q1                  nan
           Q2     7,339,000,000.00
           Q3                  nan
           Q4    15,282,000,000.00
     2013  Q1                  nan
           Q2     5,254,000,000.00
           Q3                  nan
           Q4    10,797,000,000.00
     2014  Q1                  nan
           Q2     3,568,000,000.00
           Q3                  nan
           Q4     9,445,000,000.00
     2015  Q1                  nan
           Q2     6,859,000,000.00
           Q3                  nan
           Q4    16,193,000,000.00
     2016  Q1                  nan
           Q2     5,465,000,000.00
           Q3                  nan
           Q4    17,482,000,000.00
     2017  Q1                  nan
           Q2     9,827,000,000.00
           Q3    15,706,000,000.00
           Q4                  nan
     2018  Q1    14,442,000,000.00
           Q2                  nan
           Q3    30,878,000,000.00
           Q4     7,350,000,000.00
     2019  Q1    17,057,000,000.00
           Q2    22,096,000,000.00
           Q3    29,192,000,000.00
           Q4     5,187,000,000.00
     2020  Q1     9,676,000,000.00
           Q2    13,462,000,000.00
           Q3    18,009,000,000.00
           Q4     2,801,000,000.00
Name: 資本的支出, dtype: float64

Q4は本決算だから累計かも? --> Q4 < Q2 とかあるので大丈夫なはず

やっぱり四半期報告である以上、報告していない分は時期に含まれている気がするから、年度またいだとしても(つまりQ4の欠損値に対して)次年度を分割して穴埋めする方針で。

In [33]:
# 丸ごと1年欠損している企業をdrop
df_2008 = df_2008.loc[pd.IndexSlice[(recorded_firm_from_2008 - set(whole_miss_capx)), :, :], :]

In [34]:
df_2008.index.get_level_values(0).unique()

Index(['あい　ホールディングス', 'あみやき亭', 'あらた', 'いすゞ自動車', 'いであ', 'いなげや', 'かどや製油',
       'きちりホールディングス', 'きんでん', 'ぐるなび',
       ...
       'ＴＹＫ', 'ＵＡＣＪ', 'ＵＴグループ', 'ＶＴホールディングス', 'ＷＤＢホールディングス', 'ＷＯＷ　ＷＯＲＬＤ',
       'ＷＯＷＯＷ', 'Ｚホールディングス', 'ＺＯＺＯ', 'ｅＢＡＳＥ'],
      dtype='object', name='企業名', length=1430)

ちょうど5の倍数、VRPで割り切れる  
"システムソフト"の欠損が一番多くてバリエーションが多い?っぽいからこいつをうまくできればおっけー

In [35]:
df_2008_copy = df_2008.copy()

In [36]:
df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], :]["資本的支出"]

企業名      会計年度  四半期
システムソフト  1999  Q2               nan
               Q4    143,000,000.00
         2000  Q2      7,000,000.00
               Q4     20,000,000.00
         2001  Q2     26,000,000.00
               Q4     34,000,000.00
         2002  Q2     65,000,000.00
               Q4    101,000,000.00
         2003  Q1      2,000,000.00
               Q2      6,000,000.00
               Q3      5,000,000.00
               Q4      7,000,000.00
         2004  Q1      1,000,000.00
               Q2      5,000,000.00
               Q3      8,000,000.00
               Q4     12,000,000.00
         2005  Q1      8,000,000.00
               Q2      9,000,000.00
               Q3     10,000,000.00
               Q4               nan
         2006  Q1      9,000,000.00
               Q2     26,000,000.00
               Q3     24,000,000.00
               Q4     31,000,000.00
         2007  Q1     36,000,000.00
               Q2     44,000,000.00
               Q3      1,000,000.00
               Q4      1,000,000.00
         2008  Q1      3,000,000.00
               Q2      5,000,000.00
               Q3               nan
               Q4               nan
         2009  Q1               nan
               Q2               nan
               Q3     12,000,000.00
               Q4     12,000,000.00
         2010  Q1     12,000,000.00
               Q2     12,000,000.00
               Q3               nan
               Q4               nan
         2011  Q1               nan
               Q2    944,000,000.00
               Q3               nan
               Q4      1,000,000.00
         2012  Q1               nan
               Q2     21,000,000.00
               Q3               nan
               Q4     26,000,000.00
         2013  Q1               nan
               Q2     54,000,000.00
               Q3               nan
               Q4    111,000,000.00
         2014  Q1               nan
               Q2    157,000,000.00
               Q3               nan
               Q4     13,000,000.00
         2015  Q1               nan
               Q2     56,000,000.00
               Q3               nan
               Q4     54,000,000.00
         2016  Q1               nan
               Q2     72,000,000.00
               Q3               nan
               Q4    412,000,000.00
         2017  Q1               nan
               Q2    411,000,000.00
               Q3               nan
               Q4               nan
         2018  Q1               nan
               Q2     21,000,000.00
               Q3               nan
               Q4     21,000,000.00
         2019  Q1               nan
               Q2    101,000,000.00
               Q3               nan
               Q4     35,000,000.00
         2020  Q1               nan
               Q2     39,000,000.00
               Q3               nan
               Q4     13,000,000.00
Name: 資本的支出, dtype: float64

In [39]:
isna_series = df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], "資本的支出"].isna()

for i in range(len(isna_series)-1):
    if (isna_series.iloc[i] == True) & (isna_series.iloc[i+1] == False): 
        # i が nan, i+1 が nan じゃないとき、
        ind_non_nan = df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], :].index[i+1]
        print("index of record be divided: ", ind_non_nan)
        print(df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], "資本的支出"][i], df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], "資本的支出"][i+1])
        num_nan = 0
        ind_nan_list = []
        while isna_series.iloc[i - num_nan]:
            # nan がどのくらい続いていたのかカウントして、
            num_nan += 1
            ind_nan_list.append(df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], "資本的支出"].index[i+1 - num_nan])
        print("num nan: ", num_nan)
        print("index of nan: ", ind_nan_list)
        # nan じゃない i+1 を num_nan + 1の分だけ割っておいて、
        divided_value = (df_2008_copy.loc[pd.IndexSlice[ind_non_nan[0], ind_non_nan[1], ind_non_nan[2]], "資本的支出"] / (num_nan+1))
        print("divided value: ", divided_value)
        df_2008_copy.loc[pd.IndexSlice[ind_non_nan[0], ind_non_nan[1], ind_non_nan[2]], "資本的支出"] = divided_value
        for ind_nan in ind_nan_list:
            # nan にも同じ割った値を代入
            df_2008_copy.loc[pd.IndexSlice[ind_nan[0], ind_nan[1], ind_nan[2]], "資本的支出"] = divided_value

index of record be divided:  ('システムソフト', 1999, 'Q4')
nan 143000000.0
num nan:  1
index of nan:  [('システムソフト', 1999, 'Q2')]
divided value:  71500000.0
index of record be divided:  ('システムソフト', 2006, 'Q1')
nan 9000000.0
num nan:  1
index of nan:  [('システムソフト', 2005, 'Q4')]
divided value:  4500000.0
index of record be divided:  ('システムソフト', 2009, 'Q3')
nan 12000000.0
num nan:  4
index of nan:  [('システムソフト', 2009, 'Q2'), ('システムソフト', 2009, 'Q1'), ('システムソフト', 2008, 'Q4'), ('システムソフト', 2008, 'Q3')]
divided value:  2400000.0
index of record be divided:  ('システムソフト', 2011, 'Q2')
nan 944000000.0
num nan:  3
index of nan:  [('システムソフト', 2011, 'Q1'), ('システムソフト', 2010, 'Q4'), ('システムソフト', 2010, 'Q3')]
divided value:  236000000.0
index of record be divided:  ('システムソフト', 2011, 'Q4')
nan 1000000.0
num nan:  1
index of nan:  [('システムソフト', 2011, 'Q3')]
divided value:  500000.0
index of record be divided:  ('システムソフト', 2012, 'Q2')
nan 21000000.0
num nan:  1
index of nan:  [('システムソフト', 2012, 'Q1')]
divided value:  10500000.0
index of record be divided:  ('システムソフト', 2012, 'Q4')
nan 26000000.0
num nan:  1
index of nan:  [('システムソフト', 2012, 'Q3')]
divided value:  13000000.0
index of record be divided:  ('システムソフト', 2013, 'Q2')
nan 54000000.0
num nan:  1
index of nan:  [('システムソフト', 2013, 'Q1')]
divided value:  27000000.0
index of record be divided:  ('システムソフト', 2013, 'Q4')
nan 111000000.0
num nan:  1
index of nan:  [('システムソフト', 2013, 'Q3')]
divided value:  55500000.0
index of record be divided:  ('システムソフト', 2014, 'Q2')
nan 157000000.0
num nan:  1
index of nan:  [('システムソフト', 2014, 'Q1')]
divided value:  78500000.0
index of record be divided:  ('システムソフト', 2014, 'Q4')
nan 13000000.0
num nan:  1
index of nan:  [('システムソフト', 2014, 'Q3')]
divided value:  6500000.0
index of record be divided:  ('システムソフト', 2015, 'Q2')
nan 56000000.0
num nan:  1
index of nan:  [('システムソフト', 2015, 'Q1')]
divided value:  28000000.0
index of record be divided:  ('システムソフト', 2015, 'Q4')
nan 54000000.0
num nan:  1
index of nan:  [('システムソフト', 2015, 'Q3')]
divided value:  27000000.0
index of record be divided:  ('システムソフト', 2016, 'Q2')
nan 72000000.0
num nan:  1
index of nan:  [('システムソフト', 2016, 'Q1')]
divided value:  36000000.0
index of record be divided:  ('システムソフト', 2016, 'Q4')
nan 412000000.0
num nan:  1
index of nan:  [('システムソフト', 2016, 'Q3')]
divided value:  206000000.0
index of record be divided:  ('システムソフト', 2017, 'Q2')
nan 411000000.0
num nan:  1
index of nan:  [('システムソフト', 2017, 'Q1')]
divided value:  205500000.0
index of record be divided:  ('システムソフト', 2018, 'Q2')
nan 21000000.0
num nan:  3
index of nan:  [('システムソフト', 2018, 'Q1'), ('システムソフト', 2017, 'Q4'), ('システムソフト', 2017, 'Q3')]
divided value:  5250000.0
index of record be divided:  ('システムソフト', 2018, 'Q4')
nan 21000000.0
num nan:  1
index of nan:  [('システムソフト', 2018, 'Q3')]
divided value:  10500000.0
index of record be divided:  ('システムソフト', 2019, 'Q2')
nan 101000000.0
num nan:  1
index of nan:  [('システムソフト', 2019, 'Q1')]
divided value:  50500000.0
index of record be divided:  ('システムソフト', 2019, 'Q4')
nan 35000000.0
num nan:  1
index of nan:  [('システムソフト', 2019, 'Q3')]
divided value:  17500000.0
index of record be divided:  ('システムソフト', 2020, 'Q2')
nan 39000000.0
num nan:  1
index of nan:  [('システムソフト', 2020, 'Q1')]
divided value:  19500000.0
index of record be divided:  ('システムソフト', 2020, 'Q4')
nan 13000000.0
num nan:  1
index of nan:  [('システムソフト', 2020, 'Q3')]
divided value:  6500000.0

In [40]:
df_2008_copy.loc[pd.IndexSlice["システムソフト", :, :], :]["資本的支出"]

企業名      会計年度  四半期
システムソフト  1999  Q2     71,500,000.00
               Q4     71,500,000.00
         2000  Q2      7,000,000.00
               Q4     20,000,000.00
         2001  Q2     26,000,000.00
               Q4     34,000,000.00
         2002  Q2     65,000,000.00
               Q4    101,000,000.00
         2003  Q1      2,000,000.00
               Q2      6,000,000.00
               Q3      5,000,000.00
               Q4      7,000,000.00
         2004  Q1      1,000,000.00
               Q2      5,000,000.00
               Q3      8,000,000.00
               Q4     12,000,000.00
         2005  Q1      8,000,000.00
               Q2      9,000,000.00
               Q3     10,000,000.00
               Q4      4,500,000.00
         2006  Q1      4,500,000.00
               Q2     26,000,000.00
               Q3     24,000,000.00
               Q4     31,000,000.00
         2007  Q1     36,000,000.00
               Q2     44,000,000.00
               Q3      1,000,000.00
               Q4      1,000,000.00
         2008  Q1      3,000,000.00
               Q2      5,000,000.00
               Q3      2,400,000.00
               Q4      2,400,000.00
         2009  Q1      2,400,000.00
               Q2      2,400,000.00
               Q3      2,400,000.00
               Q4     12,000,000.00
         2010  Q1     12,000,000.00
               Q2     12,000,000.00
               Q3    236,000,000.00
               Q4    236,000,000.00
         2011  Q1    236,000,000.00
               Q2    236,000,000.00
               Q3        500,000.00
               Q4        500,000.00
         2012  Q1     10,500,000.00
               Q2     10,500,000.00
               Q3     13,000,000.00
               Q4     13,000,000.00
         2013  Q1     27,000,000.00
               Q2     27,000,000.00
               Q3     55,500,000.00
               Q4     55,500,000.00
         2014  Q1     78,500,000.00
               Q2     78,500,000.00
               Q3      6,500,000.00
               Q4      6,500,000.00
         2015  Q1     28,000,000.00
               Q2     28,000,000.00
               Q3     27,000,000.00
               Q4     27,000,000.00
         2016  Q1     36,000,000.00
               Q2     36,000,000.00
               Q3    206,000,000.00
               Q4    206,000,000.00
         2017  Q1    205,500,000.00
               Q2    205,500,000.00
               Q3      5,250,000.00
               Q4      5,250,000.00
         2018  Q1      5,250,000.00
               Q2      5,250,000.00
               Q3     10,500,000.00
               Q4     10,500,000.00
         2019  Q1     50,500,000.00
               Q2     50,500,000.00
               Q3     17,500,000.00
               Q4     17,500,000.00
         2020  Q1     19,500,000.00
               Q2     19,500,000.00
               Q3      6,500,000.00
               Q4      6,500,000.00
Name: 資本的支出, dtype: float64

できた!これを全社でループする

In [41]:
# fill nan (devide after equal) for "資本的支出"

for firm in df_2008.index.get_level_values(0).unique():
    isna_series = df_2008.loc[pd.IndexSlice[firm, :, :], "資本的支出"].isna()

    for i in range(len(isna_series)-1):
        if (isna_series.iloc[i] == True) & (isna_series.iloc[i+1] == False): 
            # i が nan, i+1 が nan じゃないとき、
            ind_non_nan = df_2008.loc[pd.IndexSlice[firm, :, :], :].index[i+1]

            num_nan = 0
            ind_nan_list = []
            while isna_series.iloc[i - num_nan]:
                # nan がどのくらい続いていたのかカウントして、
                num_nan += 1
                ind_nan_list.append(df_2008.loc[pd.IndexSlice[firm, :, :], "資本的支出"].index[i+1 - num_nan])
            # nan じゃない i+1 を num_nan + 1の分だけ割っておいて、
            divided_value = (df_2008.loc[pd.IndexSlice[ind_non_nan[0], ind_non_nan[1], ind_non_nan[2]], "資本的支出"] / (num_nan+1))
            df_2008.loc[pd.IndexSlice[ind_non_nan[0], ind_non_nan[1], ind_non_nan[2]], "資本的支出"] = divided_value

            for ind_nan in ind_nan_list:
                # nan にも同じ割った値を代入
                df_2008.loc[pd.IndexSlice[ind_nan[0], ind_nan[1], ind_nan[2]], "資本的支出"] = divided_value
#     print(firm, " done")

あい　ホールディングス  done
あみやき亭  done
あらた  done
いすゞ自動車  done
いであ  done
いなげや  done
かどや製油  done
きちりホールディングス  done
きんでん  done
ぐるなび  done
さくらインターネット  done
たけびし  done
なとり  done
はせがわ  done
はるやまホールディングス  done
ひらまつ  done
ぴあ  done
やまや  done
りらいあコミュニケーションズ  done
わかもと製薬  done
アイカ工業  done
アイコム  done
アイシン  done
アイダエンジニアリング  done
アイチコーポレーション  done
アイティフォー  done
アイティメディア  done
アイネス  done
アイネット  done
アイフィスジャパン  done
アイホン  done
アイロムグループ  done
アイ・エス・ビー  done
アイ・オー・データ機器  done
アウトソーシング  done
アキレス  done
アクシアル　リテイリング  done
アクセル  done
アグロ　カネショウ  done
アゴーラ　ホスピタリティー　グ  done
アサヒグループホールディングス  done
アシックス  done
アジアパイルホールディングス  done
アステラス製薬  done
アステリア  done
アズビル  done
アズワン  done
アツギ  done
アドウェイズ  done
アドソル日進  done
アドバネクス  done
アドバンテスト  done
アドバンテッジリスクマネジメン  done
アドヴァングループ  done
アネスト岩田  done
アバント  done
アマダ  done
アマノ  done
アミューズ  done
アリアケジャパン  done
アルインコ  done
アルコニックス  done
アルゴグラフィックス  done
アルバック  done
アルビス  done
アルファ  done
アルファシステムズ  done
アルフレッサ　ホールディングス  done
アルプスアルパイン  done
アルプス技研  done
アルプス物流  done
アルペン  done
アンリツ  done
アークランドサービスホールディ  done
アース製薬  done
アートネイチャー  done
アーレスティ  done
イエローハット  done
イソライト工業  done
イチカワ  done
イチケン  done
イチネンホールディングス  done
イトーキ  done
イノテック  done
イビデン  done
イフジ産業  done
イリソ電子工業  done
インターネットイニシアティブ  done
インテリジェント　ウェイブ  done
インテージホールディングス  done
インフォコム  done
インフォマート  done
インプレスホールディングス  done
イーグル工業  done
ウェルネット  done
ウシオ電機  done
ウッドワン  done
エア・ウォーター  done
エイチワン  done
エイチ・ツー・オー　リテイリン  done
エイベックス  done
エクセディ  done
エコナックホールディングス  done
エステー  done
エステールホールディングス  done
エスペック  done
エスライン  done
エスリード  done
エス・エム・エス  done
エックスネット  done
エディオン  done
エヌ・ティ・ティ・データ  done
エノモト  done
エバラ食品工業  done
エフオン  done
エフテック  done
エフピコ  done
エフ・シー・シー  done
エフ・ジェー・ネクスト  done
エムスリー  done
エムティーアイ  done
エレコム  done
エレマテック  done
エンシュウ  done
エンプラス  done
エン・ジャパン  done
エーアンドエーマテリアル  done
エーザイ  done
エー・アンド・デイ  done
オイレス工業  done
オエノンホールディングス  done
オカダアイヨン  done
オカムラ  done
オカモト  done
オプテックスグループ  done
オリエンタルランド  done
オリジン  done
オリンパス  done
オルガノ  done
オルバヘルスケアホールディング  done
オーイズミ  done
オークマ  done
オートバックスセブン  done
オーハシテクニカ  done
オーバル  done
オービック  done
オービックビジネスコンサルタン  done
カカクコム  done
カゴメ  done
カシオ計算機  done
カナデン  done
カナレ電気  done
カネカ  done
カプコン  done
カメイ  done
カワタ  done
カワチ薬品  done
ガンホー・オンライン・エンター  done
キッコーマン  done
キッセイ薬品工業  done
キッツ  done
キトー  done
キムラタン  done
キムラユニティー  done
キャリアデザインセンター  done
キヤノン  done
キヤノンマーケティングジャパン  done
キヤノン電子  done
キューブシステム  done
キョーリン製薬ホールディングス  done
キリンホールディングス  done
キング  done
キングジム  done
キーエンス  done
キーコーヒー  done
クイック  done
クオールホールディングス  done
クニミネ工業  done
クボタ  done
クボテック  done
クラボウ  done
クラレ  done
クリエートメディック  done
クリナップ  done
クレスコ  done
クレハ  done
クロスキャット  done
クロップス  done
クワザワホールディングス  done
グランディハウス  done
グリムス  done
グリー  done
グルメ杵屋  done
グローセル  done
グローブライド  done
グローリー  done
グンゼ  done
ケイヒン  done
ケンコーマヨネーズ  done
ケーズホールディングス  done
ケーユーホールディングス  done
ゲオホールディングス  done
コア  done
コカ・コーラ　ボトラーズジャパ  done
コクヨ  done
ココカラファイン  done
コナカ  done
コニカミノルタ  done
コニシ  done
コネクシオ  done
コマツ  done
コムシスホールディングス  done
コムチュア  done
コメリ  done
コロナ  done
コロワイド  done
コンドーテック  done
コーセー  done
ゴルフダイジェスト・オンライン  done
ゴールドウイン  done
ゴールドクレスト  done
サイネックス  done
サイバネットシステム  done
サイバーエージェント  done
サイバーコム  done
サカイオーベックス  done
サカイ引越センター  done
サカタインクス  done
サクサホールディングス  done
サックスバー　ホールディングス  done
サッポロホールディングス  done
サトーホールディングス  done
サニックス  done
サニーサイドアップグループ  done
サンケン電気  done
サンゲツ  done
サンコール  done
サンデンホールディングス  done
サンドラッグ  done
サンネクスタグループ  done
サンフロンティア不動産  done
サンマルクホールディングス  done
サンリオ  done
サンリツ  done
サンワテクノス  done
ザ・パック  done
シキボウ  done
システムソフト  done
システムリサーチ  done
シスメックス  done
シチズン時計  done
シップヘルスケアホールディング  done
シナネンホールディングス  done
シマノ  done
シミックホールディングス  done
シモジマ  done
シャープ  done
ショーボンドホールディングス  done
シンニッタン  done
シンフォニア　テクノロジー  done
シークス  done
シーティーエス  done
シード  done
ジェイエイシーリクルートメント  done
ジェイテクト  done
ジェコス  done
ジャストシステム  done
ジャパンフーズ  done
ジャパンベストレスキューシステ  done
ジャムコ  done
ジーエス・ユアサ　コーポレーシ  done
ジーテクト  done
スカパーＪＳＡＴホールディング  done
スカラ  done
スクウェア・エニックス・ホール  done
スクロール  done
スズキ  done
スズケン  done
スズデン  done
スタンレー電気  done
スターゼン  done
スターツコーポレーション  done
スターティアホールディングス  done
ステップ  done
ステラ　ケミファ  done
スペース  done
スミダコーポレーション  done
セイコーエプソン  done
セイコーホールディングス  done
セイノーホールディングス  done
セガサミーホールディングス  done
セコム  done
セック  done
センコーグループホールディング  done
セントケア・ホールディング  done
セントラルスポーツ  done
セントラル硝子  done
セーレン  done
ゼビオホールディングス  done
ゼリア新薬工業  done
ゼンショーホールディングス  done
ゼンリン  done
ソディック  done
ソトー  done
ソニーグループ  done
ソネック  done
ソフトクリエイトホールディング  done
ソフトバンクグループ  done
ソリトンシステムズ  done
ソルクシーズ  done
ソースネクスト  done
ソーダニッカ  done
タイガースポリマー  done
タカキタ  done
タカノ  done
タカミヤ  done
タカラスタンダード  done
タカラトミー  done
タカラバイオ  done
タカラレーベン  done
タキロンシーアイ  done
タクマ  done
タケエイ  done
タダノ  done
タチエス  done
タツタ電線  done
タツモ  done
タナベ経営  done
タムラ製作所  done
タムロン  done
ダイオーズ  done
ダイキン工業  done
ダイコク電機  done
ダイジェット工業  done
ダイセル  done
ダイダン  done
ダイトウボウ  done
ダイトロン  done
ダイドーリミテッド  done
ダイニチ工業  done
ダイニック  done
ダイビル  done
ダイフク  done
ダイヘン  done
ダイワボウホールディングス  done
ダスキン  done
ダントーホールディングス  done
チタン工業  done
チノー  done
ツカダ・グローバルホールディン  done
ツカモトコーポレーション  done
ツガミ  done
ツツミ  done
ツムラ  done
ティア  done
ティアック  done
ティラド  done
ティーガイア  done
テイカ  done
テイクアンドギヴ・ニーズ  done
テイ・エス　テック  done
テクノメディカ  done
テクマトリックス  done
テルモ  done
テレビ朝日ホールディングス  done
テンアライド  done
テーオーシー  done
テー・オー・ダブリュー  done
ディア・ライフ  done
ディスコ  done
ディーブイエックス  done
ディー・エヌ・エー  done
デサント  done
デジタルアーツ  done
デジタルガレージ  done
デジタルホールディングス  done
デリカフーズホールディングス  done
デンカ  done
デンソー  done
デンヨー  done
トクヤマ  done
トッパン・フォームズ  done
トナミホールディングス  done
トピー工業  done
トプコン  done
トヨタ紡織  done
トヨタ自動車  done
トラスコ中山  done
トランコム  done
トランスコスモス  done
トリドールホールディングス  done
トレンドマイクロ  done
トーア紡コーポレーション  done
トーエネック  done
トーカイ  done
トーカロ  done
トーメンデバイス  done
トーモク  done
トーヨーカネツ  done
ドウシシャ  done
ドリームインキュベータ  done
ナイス  done
ナカノフドー建設  done
ナカバヤシ  done
ナカヨ  done
ナガワ  done
ナック  done
ナブテスコ  done
ニコン  done
ニチアス  done
ニチコン  done
ニチハ  done
ニチバン  done
ニチモウ  done
ニチレイ  done
ニチレキ  done
ニッカトー  done
ニッコンホールディングス  done
ニッタ  done
ニッパツ  done
ニップン  done
ニフコ  done
ニプロ  done
ニホンフラッシュ  done
ネクシィーズグループ  done
ネットワンシステムズ  done
ネツレン  done
ノジマ  done
ノリタケカンパニーリミテド  done
ノーリツ  done
ノーリツ鋼機  done
ハイパー  done
ハイマックス  done
ハウス　オブ　ローゼ  done
ハウス食品グループ本社  done
ハピネット  done
ハマキョウレックス  done
ハリマ化成グループ  done
ハークスレイ  done
ハードオフコーポレーション  done
バリューコマース  done
バルカー  done
バローホールディングス  done
バンダイナムコホールディングス  done
バンドー化学  done
パイオラックス  done
パイロットコーポレーション  done
パスコ  done
パナソニック  done
パラカ  done
パン・パシフィック・インターナ  done
ヒノキヤグループ  done
ヒューリック  done
ヒロセ電機  done
ビオフェルミン製薬  done
ビジネスエンジニアリング  done
ビジネスブレイン太田昭和  done
ビジネス・ブレークスルー  done
ビーアールホールディングス  done
ビーピー・カストロール  done
ビー・エム・エル  done
ピエトロ  done
ピーエス三菱  done
ピーシーデポコーポレーション  done
ピー・シー・エー  done
ファナック  done
ファルコホールディングス  done
ファンケル  done
ファンコミュニケーションズ  done
フィールズ  done
フェイス  done
フォスター電機  done
フォーカスシステムズ  done
フォーバル  done
フクシマガリレイ  done
フコク  done
フジオフードグループ本社  done
フジクラ  done
フジシールインターナショナル  done
フジッコ  done
フジテック  done
フジミインコーポレーテッド  done
フジ・メディア・ホールディング  done
フジ住宅  done
フタバ産業  done
フューチャー  done
フランスベッドホールディングス  done
フルキャストホールディングス  done
フルサト工業  done
ブイ・テクノロジー  done
ブラザー工業  done
ブリヂストン  done
ブルドックソース  done
ブロンコビリー  done
プリマハム  done
プレサンスコーポレーション  done
プレステージ・インターナショナ  done
プレス工業  done
プロシップ  done
プロトコーポレーション  done
プロネクサス  done
ヘリオス　テクノ　ホールディン  done
ベネッセホールディングス  done
ベネフィット・ワン  done
ベルーナ  done
ペガサスミシン製造  done
ペッパーフードサービス  done
ホウスイ  done
ホギメディカル  done
ホクシン  done
ホクト  done
ホシザキ  done
ホシデン  done
ホソカワミクロン  done
ホッカンホールディングス  done
ホーチキ  done
マックス  done
マツダ  done
マツモトキヨシホールディングス  done
マブチモーター  done
マルシェ  done
マンダム  done
マースグループホールディングス  done
マーベラス  done
ミクシィ  done
ミクニ  done
ミスミグループ本社  done
ミズノ  done
ミツウロコグループホールディン  done
ミツバ  done
ミネベアミツミ  done
ミマキエンジニアリング  done
ミヨシ油脂  done
ミルボン  done
ミロク情報サービス  done
メイコー  done
メイテック  done
メガチップス  done
メック  done
メディカルシステムネットワーク  done
メディパルホールディングス  done
メルコホールディングス  done
メンバーズ  done
モスフードサービス  done
モリタホールディングス  done
モリテック　スチール  done
モリ工業  done
モーニングスター  done
ヤオコー  done
ヤクルト本社  done
ヤマウラ  done
ヤマエ久野  done
ヤマタネ  done
ヤマダホールディングス  done
ヤマト  done
ヤマトホールディングス  done
ヤマハ  done
ヤマハ発動機  done
ユアサ商事  done
ユアテック  done
ユシロ化学工業  done
ユナイテッドアローズ  done
ユニカフェ  done
ユニチカ  done
ユニデンホールディングス  done
ユニプレス  done
ユニ・チャーム  done
ユーシン精機  done
ユー・エス・エス  done
ヨコオ  done
ヨコレイ  done
ヨロズ  done
ヨータイ  done
ライオン  done
ライト工業  done
ラウンドワン  done
ラサ工業  done
ラックランド  done
ランドビジネス  done
リオン  done
リケン  done
リケンテクノス  done
リコー  done
リズム  done
リソルホールディングス  done
リゾートトラスト  done
リックス  done
リニカル  done
リョーサン  done
リョービ  done
リログループ  done
リンクアンドモチベーション  done
リンテック  done
リンナイ  done
ルックホールディングス  done
ルネサスエレクトロニクス  done
ルネサンス  done
レイズネクスト  done
レオパレス２１  done
レオン自動機  done
レシップホールディングス  done
レック  done
レッグス  done
レンゴー  done
レーザーテック  done
ロイヤルホールディングス  done
ロート製薬  done
ローム  done
ローランド　ディー．ジー．  done
ワイエイシイホールディングス  done
ワコム  done
ワコールホールディングス  done
ワタミ  done
ワールドホールディングス  done
ヴィア・ホールディングス  done
ヴィンクス  done
一正蒲鉾  done
三ツ星ベルト  done
三井不動産  done
三井住友建設  done
三井倉庫ホールディングス  done
三井化学  done
三井松島ホールディングス  done
三井海洋開発  done
三井物産  done
三井金属鉱業  done
三井Ｅ＆Ｓホールディングス  done
三信電気  done
三共生興  done
三和ホールディングス  done
三城ホールディングス  done
三愛石油  done
三晃金属工業  done
三桜工業  done
三機工業  done
三洋化成工業  done
三洋工業  done
三浦工業  done
三菱ケミカルホールディングス  done
三菱マテリアル  done
三菱ロジスネクスト  done
三菱倉庫  done
三菱化工機  done
三菱商事  done
三菱地所  done
三菱瓦斯化学  done
三菱自動車工業  done
三菱製紙  done
三菱製鋼  done
三菱重工業  done
三菱鉛筆  done
三菱電機  done
三菱食品  done
三谷セキサン  done
三谷産業  done
三越伊勢丹ホールディングス  done
三重交通グループホールディング  done
上新電機  done
上組  done
不二家  done
不二製油グループ本社  done
不動テトラ  done
世紀東急工業  done
中国塗料  done
中国電力  done
中外炉工業  done
中外製薬  done
中央倉庫  done
中央発条  done
中山福  done
中山製鋼所  done
中広  done
中村屋  done
中越パルプ工業  done
中部電力  done
中部飼料  done
中電工  done
丸一鋼管  done
丸井グループ  done
丸全昭和運輸  done
丸大食品  done
丸山製作所  done
丸文  done
丸紅  done
丸紅建材リース  done
丸運  done
九州電力  done
九電工  done
亀田製菓  done
五洋建設  done
井村屋グループ  done
井関農機  done
京セラ  done
京三製作所  done
京成電鉄  done
京浜急行電鉄  done
京王電鉄  done
京都きもの友禅  done
京阪ホールディングス  done
京阪神ビルディング  done
今仙電機製作所  done
任天堂  done
伊藤忠エネクス  done
伊藤忠テクノソリューションズ  done
伊藤忠商事  done
伊藤忠食品  done
伯東  done
住友ゴム工業  done
住友ベークライト  done
住友不動産  done
住友倉庫  done
住友化学  done
住友商事  done
住友大阪セメント  done
住友林業  done
住友理工  done
住友精化  done
住友精密工業  done
住友重機械工業  done
住友金属鉱山  done
住友電気工業  done
住友電設  done
佐田建設  done
佐藤商事  done
保土谷化学工業  done
信越ポリマー  done
信越化学工業  done
元気寿司  done
光村印刷  done
光通信  done
八洲電機  done
六甲バター  done
共同印刷  done
共和レザー  done
共和電業  done
共栄タンカー  done
共立メンテナンス  done
共立印刷  done
共英製鋼  done
兼松  done
兼松エレクトロニクス  done
兼松サステック  done
内外トランスライン  done
凸版印刷  done
出光興産  done
前沢化成工業  done
前沢給装工業  done
前田工繊  done
前田建設工業  done
前田道路  done
加藤産業  done
加藤製作所  done
加賀電子  done
北川鉄工所  done
北沢産業  done
北海道ガス  done
北海道電力  done
北越コーポレーション  done
北越工業  done
北野建設  done
北陸電力  done
北陸電気工事  done
北陸電気工業  done
千趣会  done
協和エクシオ  done
協和キリン  done
協栄産業  done
南海電気鉄道  done
南陽  done
博報堂ＤＹホールディングス  done
原田工業  done
参天製薬  done
双信電機  done
双日  done
双葉電子工業  done
古河機械金属  done
古河電気工業  done
古河電池  done
合同製鉄  done
名古屋鉄道  done
名村造船所  done
名糖産業  done
味の素  done
品川リフラクトリーズ  done
商船三井  done
四国化成工業  done
四国電力  done
四電工  done
因幡電機産業  done
図研  done
堀場製作所  done
堺化学工業  done
塩水港精糖  done
塩野義製薬  done
多木化学  done
夢真ビーネックスグループ  done
大倉工業  done
大同メタル工業  done
大同工業  done
大同特殊鋼  done
大和ハウス工業  done
大和冷機工業  done
大和工業  done
大塚商会  done
大崎電気工業  done
大平洋金属  done
大建工業  done
大成ラミック  done
大成建設  done
大日本住友製薬  done
大日本印刷  done
大日本塗料  done
大日精化工業  done
大末建設  done
大東建託  done
大林組  done
大気社  done
大王製紙  done
大真空  done
大紀アルミニウム工業所  done
大豊工業  done
大豊建設  done
大阪ガス  done
大阪ソーダ  done
大阪チタニウムテクノロジーズ  done
大阪製鉄  done
天馬  done
太平洋セメント  done
太平洋工業  done
太平洋興発  done
太平電業  done
太陽ホールディングス  done
太陽誘電  done
奥村組  done
学研ホールディングス  done
学究社  done
宇徳  done
宇部興産  done
安永  done
安田倉庫  done
安藤・間  done
宝ホールディングス  done
宮地エンジニアリンググループ  done
富士ソフト  done
富士ピー・エス  done
富士フイルムホールディングス  done
富士急行  done
富士石油  done
富士紡ホールディングス  done
富士興産  done
富士製薬工業  done
富士通  done
富士通ゼネラル  done
富士電機  done
寿スピリッツ  done
小松ウオール工業  done
小松マテーレ  done
小林製薬  done
小森コーポレーション  done
小田急電鉄  done
小糸製作所  done
小野建  done
小野測器  done
小野薬品工業  done
尾家産業  done
山一電機  done
山九  done
山善  done
山崎製パン  done
山洋電気  done
山田コンサルティンググループ  done
山陽特殊製鋼  done
山陽電気鉄道  done
岡谷電機産業  done
岡部  done
岩崎通信機  done
岩崎電気  done
岩谷産業  done
島津製作所  done
島精機製作所  done
川崎汽船  done
川崎重工業  done
川西倉庫  done
巴コーポレーション  done
巴川製紙所  done
市光工業  done
帝人  done
帝国繊維  done
帝国通信工業  done
帝国電機製作所  done
常磐興産  done
平和  done
平和不動産  done
平河ヒューテック  done
平田機工  done
幸楽苑ホールディングス  done
広島ガス  done
廣済堂  done
建設技術研究所  done
応用地質  done
愛三工業  done
愛眼  done
愛知時計電機  done
愛知製鋼  done
戸田工業  done
戸田建設  done
扶桑化学工業  done
扶桑薬品工業  done
持田製薬  done
文化シヤッター  done
新京成電鉄  done
新光商事  done
新光電気工業  done
新家工業  done
新日本建設  done
新日本理化  done
新日本科学  done
新日本空調  done
新日本電工  done
新明和工業  done
新晃工業  done
新東工業  done
新電元工業  done
日亜鋼業  done
日伝  done
日工  done
日揮ホールディングス  done
日新  done
日新電機  done
日本たばこ産業  done
日本エアーテック  done
日本エスコン  done
日本カーバイド工業  done
日本カーボン  done
日本ガイシ  done
日本ギア工業  done
日本ケミコン  done
日本ケミファ  done
日本コンクリート工業  done
日本コークス工業  done
日本システムウエア  done
日本システム技術  done
日本セラミック  done
日本ゼオン  done
日本テレビホールディングス  done
日本トムソン  done
日本トランスシティ  done
日本トリム  done
日本ハム  done
日本パーカライジング  done
日本ヒューム  done
日本ピストンリング  done
日本ピラー工業  done
日本フエルト  done
日本プラスト  done
日本ペイントホールディングス  done
日本マイクロニクス  done
日本ユニシス  done
日本ライフライン  done
日本リーテック  done
日本信号  done
日本光電  done
日本冶金工業  done
日本化学工業  done
日本基礎技術  done
日本山村硝子  done
日本工営  done
日本新薬  done
日本曹達  done
日本板硝子  done
日本水産  done
日本特殊塗料  done
日本特殊陶業  done
日本瓦斯  done
日本甜菜製糖  done
日本石油輸送  done
日本空港ビルデング  done
日本空調サービス  done
日本管財  done
日本精化  done
日本精工  done
日本精線  done
日本紙パルプ商事  done
日本航空電子工業  done
日本製鉄  done
日本製鋼所  done
日本触媒  done
日本調剤  done
日本車両製造  done
日本農薬  done
日本通信  done
日本通運  done
日本道路  done
日本郵船  done
日本酸素ホールディングス  done
日本金属  done
日本金銭機械  done
日本鋳鉄管  done
日本電信電話  done
日本電子  done
日本電子材料  done
日本電気硝子  done
日本電波工業  done
日本電産  done
日本電設工業  done
日本高周波鋼業  done
日本高純度化学  done
日本ＣＭＫ  done
日本Ｍ＆Ａセンター  done
日東富士製粉  done
日東工器  done
日東工業  done
日東精工  done
日東紡  done
日東電工  done
日機装  done
日比谷総合設備  done
日水製薬  done
日油  done
日清オイリオグループ  done
日清紡ホールディングス  done
日清製粉グループ本社  done
日清食品ホールディングス  done
日特建設  done
日産化学  done
日産東京販売ホールディングス  done
日産自動車  done
日産車体  done
日神グループホールディングス  done
日立建機  done
日立物流  done
日立製作所  done
日立造船  done
日立金属  done
日精エー・エス・ビー機械  done
日精樹脂工業  done
日置電機  done
日華化学  done
日進工具  done
日野自動車  done
日鉄ソリューションズ  done
日鉄物産  done
日鉄鉱業  done
日阪製作所  done
早稲田アカデミー  done
旭ダイヤモンド工業  done
旭化成  done
旭有機材  done
明和地所  done
明和産業  done
明星工業  done
明治海運  done
明治電機工業  done
明豊ファシリティワークス  done
明電舎  done
星光ＰＭＣ  done
星和電機  done
昭光通商  done
昭和産業  done
昭和電工  done
昭和電線ホールディングス  done
昭文社ホールディングス  done
曙ブレーキ工業  done
月島機械  done
有機合成薬品工業  done
有沢製作所  done
朝日インテック  done
朝日ネット  done
朝日工業社  done
朝日放送グループホールディング  done
木曽路  done
木村化工機  done
未来工業  done
本多通信工業  done
本田技研工業  done
杉本商事  done
村田製作所  done
東ソー  done
東テク  done
東プレ  done
東リ  done
東レ  done
東亜ディーケーケー  done
東亜合成  done
東亜建設工業  done
東亜道路工業  done
東京エネシス  done
東京エレクトロン  done
東京エレクトロン　デバイス  done
東京ガス  done
東京テアトル  done
東京一番フーズ  done
東京建物  done
東京応化工業  done
東京機械製作所  done
東京特殊電線  done
東京産業  done
東京精密  done
東京製綱  done
東京製鉄  done
東京計器  done
東京都競馬  done
東京鉄鋼  done
東京電力ホールディングス  done
東北電力  done
東和薬品  done
東急  done
東急建設  done
東日本旅客鉄道  done
東映  done
東武鉄道  done
東洋インキＳＣホールディングス  done
東洋エンジニアリング  done
東洋シヤッター  done
東洋埠頭  done
東洋建設  done
東洋機械金属  done
東洋水産  done
東洋精糖  done
東洋紡  done
東洋製缶グループホールディング  done
東海カーボン  done
東海旅客鉄道  done
東海染工  done
東海理化電機製作所  done
東海運  done
東祥  done
東芝  done
東芝テック  done
東計電算  done
東邦アセチレン  done
東邦システムサイエンス  done
東邦チタニウム  done
東邦ホールディングス  done
東邦亜鉛  done
東邦瓦斯  done
東都水産  done
東鉄工業  done
東陽テクニカ  done
東陽倉庫  done
松井建設  done
松屋フーズホールディングス  done
松田産業  done
松風  done
林兼産業  done
栄研化学  done
栗本鉄工所  done
栗田工業  done
森永乳業  done
森永製菓  done
植木組  done
椿本チエイン  done
椿本興業  done
極東貿易  done
極東開発工業  done
極洋  done
楽天グループ  done
横河ブリッジホールディングス  done
横河電機  done
横浜ゴム  done
橋本総業ホールディングス  done
正興電機製作所  done
武田薬品工業  done
武蔵精密工業  done
永大産業  done
永谷園ホールディングス  done
江崎グリコ  done
池上通信機  done
沖縄電力  done
沢藤電機  done
河合楽器製作所  done
河西工業  done
油研工業  done
浅沼組  done
浜松ホトニクス  done
淀川製鋼所  done
清水建設  done
渋沢倉庫  done
渋谷工業  done
滝沢鉄工所  done
焼津水産化学工業  done
熊谷組  done
燦ホールディングス  done
片倉コープアグリ  done
片倉工業  done
牧野フライス製作所  done
物語コーポレーション  done
特種東海製紙  done
王子ホールディングス  done
王将フードサービス  done
理想科学工業  done
理研ビタミン  done
理研計器  done
生化学工業  done
田中商事  done
田谷  done
白洋舎  done
白銅  done
盟和産業  done
相鉄ホールディングス  done
矢作建設工業  done
石井鉄工所  done
石原ケミカル  done
石原産業  done
石塚硝子  done
石川製作所  done
石油資源開発  done
神奈川中央交通  done
神戸製鋼所  done
神戸電鉄  done
神東塗料  done
神栄  done
神鋼商事  done
福井コンピュータホールディング  done
福山通運  done
福田組  done
秀英予備校  done
科研製薬  done
稲畑産業  done
積水化学工業  done
積水化成品工業  done
積水樹脂  done
穴吹興産  done
空港施設  done
立川ブラインド工業  done
立花エレテック  done
第一カッター興業  done
第一三共  done
第一実業  done
第一屋製パン  done
第一工業製薬  done
第一稀元素化学工業  done
第一興商  done
綜合警備保障  done
群栄化学工業  done
能美防災  done
船井総研ホールディングス  done
船井電機  done
芝浦メカトロニクス  done
芝浦機械  done
芦森工業  done
花王  done
若築建設  done
荏原  done
荏原実業  done
荒川化学工業  done
菱電商事  done
萩原電気ホールディングス  done
蔵王産業  done
藤久  done
藤倉コンポジット  done
藤倉化成  done
藤森工業  done
藤田観光  done
虹技  done
蛇の目ミシン工業  done
蝶理  done
西尾レントオール  done
西日本旅客鉄道  done
西日本鉄道  done
西松建設  done
西華産業  done
西部ガスホールディングス  done
豊和工業  done
豊田合成  done
豊田自動織機  done
豊田通商  done
資生堂  done
近畿車両  done
近鉄エクスプレス  done
近鉄グループホールディングス  done
進学会ホールディングス  done
遠藤照明  done
都築電気  done
酉島製作所  done
酒井重工業  done
野村マイクロ・サイエンス  done
野村不動産ホールディングス  done
野村総合研究所  done
鈴木  done
鉄建建設  done
銭高組  done
長大  done
長府製作所  done
長瀬産業  done
長谷川香料  done
長谷工コーポレーション  done
長野計器  done
関東電化工業  done
関西スーパーマーケット  done
関西ペイント  done
関西電力  done
関電工  done
阪和興業  done
阪急阪神ホールディングス  done
電気興業  done
電源開発  done
電算  done
電通グループ  done
電通国際情報サービス  done
青山商事  done
静岡ガス  done
飛島建設  done
飯野海運  done
養命酒製造  done
駒井ハルテック  done
高千穂交易  done
高圧ガス工業  done
高島  done
高松コンストラクショングループ  done
高田機工  done
高砂熱学工業  done
高砂香料工業  done
高速  done
魚力  done
鳥居薬品  done
鳥越製粉  done
鶴見製作所  done
鹿島  done
黒崎播磨  done
ＡＤＥＫＡ  done
ＡＧＣ  done
ＡＮＡホールディングス  done
ＡＯＫＩホールディングス  done
ＢＥＥＮＯＳ  done
ＣＡＣ　Ｈｏｌｄｉｎｇｓ  done
ＣＤＧ  done
ＣＤＳ  done
ＣＥホールディングス  done
ＣＩＪ  done
ＣＫサンエツ  done
ＣＫＤ  done
ＣＯＴＡ  done
ＤＩＣ  done
ＤＭ三井製糖ホールディングス  done
ＤＭＧ森精機  done
ＤＯＷＡホールディングス  done
ＤＴＳ  done
ＥＩＺＯ  done
ＥＭシステムズ  done
ＥＰＳホールディングス  done
ＦＵＪＩ  done
Ｇ－７ホールディングス  done
ＧＭＢ  done
ＧＭＯインターネット  done
ＧＭＯグローバルサイン・ホール  done
ＧＭＯペイメントゲートウェイ  done
ＧＭＯペパボ  done
ＧＳＩクレオス  done
Ｈ．Ｕ．グループホールディング  done
ＨＯＹＡ  done
Ｉ－ＰＥＸ  done
ＩＤホールディングス  done
ＩＤＥＣ  done
ＩＨＩ  done
ＩＭＡＧＩＣＡ　ＧＲＯＵＰ  done
ＩＮＰＥＸ  done
Ｊ－オイルミルズ  done
ＪＡＬＵＸ  done
ＪＢＣＣホールディングス  done
ＪＣＲファーマ  done
ＪＣＵ  done
ＪＦＥホールディングス  done
ＪＫホールディングス  done
ＪＭＳ  done
ＪＰホールディングス  done
ＪＳＰ  done
ＪＳＲ  done
ＪＵＫＩ  done
ＫＤＤＩ  done
ＫＩＭＯＴＯ  done
ＫＮＴ－ＣＴホールディングス  done
ＫＯＡ  done
ＫＹＢ  done
ＬＩＦＵＬＬ  done
ＬＩＸＩＬ  done
ＭＡＲＵＷＡ  done
ＭＵＴＯＨホールディングス  done
ＭｏｎｏｔａＲＯ  done
ＮＥＣ  done
ＮＥＣネッツエスアイ  done
ＮＩＰＰＯ  done
ＮＩＳＳＨＡ  done
ＮＪＳ  done
ＮＯＫ  done
ＮＳユナイテッド海運  done
ＮＳＤ  done
ＮＴＮ  done
ＯＢＡＲＡ　ＧＲＯＵＰ  done
ＯＤＫソリューションズ  done
ＯＫＩ  done
ＯＵＧホールディングス  done
ＰＡＬＴＡＣ  done
ＰＬＡＮＴ  done
ＳＡＮＫＹＯ  done
ＳＢテクノロジー  done
ＳＢＳホールディングス  done
ＳＣＲＥＥＮホールディングス  done
ＳＣＳＫ  done
ＳＨＯＥＩ  done
ＳＭＣ  done
ＳＭＫ  done
ＳＰＫ  done
ＳＲＡホールディングス  done
ＳＲＳホールディングス  done
ＳＵＢＡＲＵ  done
Ｔ＆Ｋ　ＴＯＫＡ  done
ＴＡＣ  done
ＴＢＫ  done
ＴＢＳホールディングス  done
ＴＤＣソフト  done
ＴＤＫ  done
ＴＨＫ  done
ＴＩＳ  done
ＴＫＣ  done
ＴＯＡ  done
ＴＯＴＯ  done
ＴＯＷＡ  done
ＴＯＹＯ　ＴＩＲＥ  done
ＴＰＲ  done
ＴＹＫ  done
ＵＡＣＪ  done
ＵＴグループ  done
ＶＴホールディングス  done
ＷＤＢホールディングス  done
ＷＯＷ　ＷＯＲＬＤ  done
ＷＯＷＯＷ  done
Ｚホールディングス  done
ＺＯＺＯ  done
ｅＢＡＳＥ  done

In [46]:
df_2008.loc[pd.IndexSlice[:, 2008:, :], "資本的支出"].isna().sum()

13

In [50]:
df_2008.loc[pd.IndexSlice[:, 2008:, :], "資本的支出"][df_2008.loc[pd.IndexSlice[:, 2008:, :], "資本的支出"].isna()]

企業名              会計年度  四半期
あい　ホールディングス      2020  Q4    nan
インテージホールディングス    2020  Q4    nan
オルバヘルスケアホールディング  2020  Q4    nan
ディア・ライフ          2020  Q3    nan
                       Q4    nan
トーア紡コーポレーション     2020  Q4    nan
パイロットコーポレーション    2020  Q4    nan
フルキャストホールディングス   2020  Q4    nan
メック              2020  Q4    nan
日本エスコン           2020  Q4    nan
鈴木               2020  Q4    nan
ＣＩＪ              2020  Q4    nan
ＩＮＰＥＸ            2020  Q4    nan
Name: 資本的支出, dtype: float64

最後の期2020Q4が欠損していたらどうしようもないが、ぶっちゃけテスト期間になるので欠損したままで良い。


とりあえずここまでで一回保存

In [51]:
df_2008.to_csv("./../data/processed/tse1_2008_capx_labor_filled.csv")

In [53]:
df_2008 = pd.read_csv("./../data/processed/tse1_2008_capx_labor_filled.csv", index_col=[0, 1, 2])

* 四半期EPS

In [56]:
df_2008.isna().mean()

決算期（年）                      0.00
決算期（月）                      0.00
決算期                         0.00
連結基準フラグ                     0.00
決算種別フラグ                     0.00
決算発表日                       0.02
事業年度開始年月日［３ヵ月］              0.28
事業年度終了年月日                   0.00
１株当たり利益［３ヵ月］                0.30
１株当たり利益［累計］                 0.03
当期純利益（連結）［累計］               0.47
【ＱＴＲ】当期利益                   0.13
棚卸資産                        0.05
受取手形・売掛金／売掛金及びその他の短期債権      0.02
資本的支出                       0.00
売上総利益［累計］                   0.02
【ＱＴＲ】売上総利益                  0.14
販売費及び一般管理費［累計］              0.03
法人税等［累計］                    0.02
法人税・住民税及び事業税合計／当期税金費用［累計］   0.20
税金等調整前当期純利益［累計］             0.12
税金等調整前当期利益［累計］              0.05
【ＱＴＲ】税金等調整前当期利益             0.16
１株当たり税引前利益                  0.11
売上高・営業収益［累計］                0.01
【ＱＴＲ】売上高・営業収益               0.11
１株当たり売上高                    0.12
期末従業員数                      0.00
純資産合計／資本合計                  0.24
【ＱＴＲ】純資産                    0.25
１株当たり純資産                    0.27
期中平均株式数［累計］                 0.12
期中平均株式数［３ヵ月］                0.73
期末発行済株式総数                   0.12
自己株式数                       0.17
dtype: float64

欠損処理後、最後に期間を2008Q1~にカットする

## ファンダメンタル会計変数の生成

## Data Preprocessing

データのスケーリング

$$\begin{eqnarray}
    INV &=& \frac{棚卸資産}{普通株式の期中加重平均株式数} \\
    AR &=& \frac{売掛金}{普通株式の期中加重平均株式数} \\
    CAPX &=& \frac{資本的支出}{普通株式の期中加重平均株式数} \\
    GM &=& \frac{売上総利益}{普通株式の期中加重平均株式数} \\
    SA &=& \frac{販売費及び一般管理費}{普通株式の期中加重平均株式数} \\
    ETR &=& 実効税率 \\
    LF &=& \log{労働力} \\
\end{eqnarray}$$