# EDA for TSE 1st section (2124 without financial firms) 

Exploratory data analysis for TSE 1st 2124 firms quaterly consolidated FINFSTA data.

In [1]:
# External Libraries
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns

# internal module
sys.path.insert(1, '../')
from src.dataset.buid_dataset import Dataset

# Pandas setting
# Display 6 columns for viewing purposes
pd.set_option('display.max_columns', 50)

# Reduce decimal points to 2
pd.options.display.float_format = '{:,.2f}'.format

## Read Data
Read splited raw datasets, clean header, rplace nan, and concat through time.

In [2]:
# concat FINFSTA

dir_path = "./../data/raw/FQ/FINFSTA_quarterly_consolidated"

# get all paths in selected directody
file_paths = os.listdir(dir_path)

sheet_name = '決算期ベース.有価証券報告書優先.連結優先(IFRS優先)'

df = pd.DataFrame()
for path in file_paths:
    # Define path
    data_file_path = dir_path + "/" + path
    
    # read temporary data file
    temp = Dataset("xlsx", sheet_name, data_file_path)
    temp.clean_header()
    
    # concat
    df = pd.concat([df, temp.data], axis=0)
    print(path + " concated")

1999.xlsx concated
2000.xlsx concated
2001.xlsx concated
2002.xlsx concated
2003.xlsx concated
2004.xlsx concated
2005.xlsx concated
2006.xlsx concated
2007.xlsx concated
2008.xlsx concated
2009.xlsx concated
2010.xlsx concated
2011.xlsx concated
2012.xlsx concated
2013.xlsx concated
2014.xlsx concated
2015.xlsx concated
2016.xlsx concated
2017.xlsx concated
2018.xlsx concated
2019.xlsx concated
2020.xlsx concated

In [3]:
# save this temporary df as csv
df.reset_index(drop=True, inplace=True)
df.to_csv("./../data/processed/tse1_concated.csv")

In [4]:
# read df
df = pd.read_csv("./../data/processed/tse1_concated.csv", index_col=[0])
df

,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,連結基準フラグ,決算種別フラグ,決算発表日,事業年度開始年月日［３ヵ月］,事業年度終了年月日,１株当たり利益［３ヵ月］,１株当たり利益［累計］,当期純利益（連結）［累計］,【ＱＴＲ】当期利益,棚卸資産,受取手形・売掛金／売掛金及びその他の短期債権,資本的支出,売上総利益［累計］,【ＱＴＲ】売上総利益,販売費及び一般管理費［累計］,法人税等［累計］,法人税・住民税及び事業税合計／当期税金費用［累計］,税金等調整前当期純利益［累計］,税金等調整前当期利益［累計］,【ＱＴＲ】税金等調整前当期利益,１株当たり税引前利益,売上高・営業収益［累計］,【ＱＴＲ】売上高・営業収益,１株当たり売上高,期末従業員数,純資産合計／資本合計,【ＱＴＲ】純資産,１株当たり純資産,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数
0,極洋,T1301,月次(M),1999/09,0,22,NaN,NaN,1999/09/30,nan,1.70,nan,nan,"15,996.00","21,594.00",nan,"5,934.00",nan,"5,028.00",195.00,195.00,387.00,387.00,nan,6.83,"70,743.00",nan,"1,248.96",511.00,nan,nan,80.74,"113,282,837.00",nan,"113,282,837.00",546.00
1,極洋,T1301,月次(M),2000/03,1,10,2000/05/18,NaN,2000/03/31,nan,2.89,nan,nan,"18,944.00","19,662.00","2,323.00","15,788.00",nan,"12,946.00",428.00,606.00,791.00,791.00,nan,6.98,"171,031.00",nan,"1,509.78","1,148.00",nan,nan,93.96,"113,282,261.00",nan,"113,282,837.00",668.00
2,日本水産,T1332,月次(M),1999/09,0,22,NaN,NaN,1999/09/30,nan,6.34,nan,nan,"30,685.00","46,561.00",nan,"28,531.00",nan,"24,606.00",870.00,870.00,"2,754.00","2,754.00",nan,18.53,"164,091.00",nan,"1,104.21","1,890.00",nan,nan,243.73,"297,210,277.00",nan,"297,210,277.00","2,482.00"
3,日本水産,T1332,月次(M),2000/03,1,10,2000/05/26,NaN,2000/03/31,nan,17.04,nan,nan,"49,425.00","54,026.00","10,284.00","86,090.00",nan,"76,802.00","5,136.00","5,082.00","10,876.00","10,876.00",nan,36.60,"472,297.00",nan,"1,589.26","6,159.00",nan,nan,274.41,"297,179,563.00",nan,"295,926,277.00","1,518.00"
4,マルハニチロ,T1333,月次(M),1999/09,0,22,NaN,NaN,1999/09/30,nan,4.51,nan,nan,"47,633.00","36,463.00",nan,"21,285.00",nan,"17,240.00",97.00,97.00,"1,452.00","1,452.00",nan,9.68,"157,620.00",nan,"1,050.80","1,382.00",nan,nan,85.13,"300,000,000.00",nan,"300,000,000.00",452.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143652,グローセル,T9995,月次(M),2021/03,1,10,2021/05/14,2021/01/01,2021/03/31,nan,-15.17,-367.00,-100.00,"10,813.00","14,239.00",77.00,"5,580.00","1,525.00","6,074.00",105.00,126.00,-261.00,-261.00,103.00,-10.78,"59,861.00","17,276.00","2,471.84",468.00,"22,501.00","22,501.00",924.87,"24,217,195.00",nan,"26,426,800.00","2,097,045.00"
143653,ベルーナ,T9997,月次(M),2020/06,1,21,2020/07/31,2020/04/01,2020/06/30,15.44,15.44,"1,486.00","1,492.00","35,174.00","11,772.00",nan,"28,666.00","28,666.00","26,197.00","1,129.00","1,189.00","2,616.00","2,616.00","2,616.00",108.26,"48,534.00","48,534.00","2,008.50",nan,"103,798.00","103,798.00",nan,"96,657,070.00","96,657,070.00","97,244,472.00","587,411.00"
143654,ベルーナ,T9997,月次(M),2020/09,1,22,2020/10/30,2020/07/01,2020/09/30,14.80,30.24,"2,913.00","1,431.00","37,817.00","10,293.00","4,435.00","53,751.00","25,085.00","49,186.00","1,971.00","2,107.00","4,884.00","4,884.00","2,268.00",101.05,"91,139.00","42,605.00","1,885.75",nan,"105,489.00","105,489.00",nan,"96,660,785.00",nan,"97,244,472.00","571,586.00"
143655,ベルーナ,T9997,月次(M),2020/12,1,23,2021/01/29,2020/10/01,2020/12/31,58.93,89.18,"8,606.00","5,697.00","38,232.00","13,629.00",nan,"90,254.00","36,503.00","78,646.00","4,878.00","4,926.00","13,484.00","13,484.00","8,600.00",185.99,"154,145.00","63,006.00","2,126.18",nan,"109,945.00","109,945.00",nan,"96,664,827.00",nan,"97,244,472.00","571,610.00"
143656,ベルーナ,T9997,月次(M),2021/03,1,10,2021/05/13,NaN,2021/03/31,nan,114.17,"11,019.00","2,416.00","36,320.00","10,242.00","8,912.00","121,556.00","31,302.00","105,821.00","6,723.00","6,999.00","17,743.00","17,743.00","4,259.00",183.55,"206,499.00","52,354.00","2,136.19","3,320.00","113,231.00","113,231.00","1,164.97","96,666,782.00",nan,"97,244,472.00","571,852.00"

## Multiindexing Panel data with firm
https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html <br>
https://python.quantecon.org/pandas_panel.html <br>
https://deepage.net/features/pandas-multiindex.html

In [5]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', '連結基準フラグ',
       '決算種別フラグ', '決算発表日', '事業年度開始年月日［３ヵ月］', '事業年度終了年月日', '１株当たり利益［３ヵ月］',
       '１株当たり利益［累計］', '当期純利益（連結）［累計］', '【ＱＴＲ】当期利益', '棚卸資産',
       '受取手形・売掛金／売掛金及びその他の短期債権', '資本的支出', '売上総利益［累計］', '【ＱＴＲ】売上総利益',
       '販売費及び一般管理費［累計］', '法人税等［累計］', '法人税・住民税及び事業税合計／当期税金費用［累計］',
       '税金等調整前当期純利益［累計］', '税金等調整前当期利益［累計］', '【ＱＴＲ】税金等調整前当期利益', '１株当たり税引前利益',
       '売上高・営業収益［累計］', '【ＱＴＲ】売上高・営業収益', '１株当たり売上高', '期末従業員数', '純資産合計／資本合計',
       '【ＱＴＲ】純資産', '１株当たり純資産', '期中平均株式数［累計］', '期中平均株式数［３ヵ月］', '期末発行済株式総数',
       '自己株式数'],
      dtype='object')

In [6]:
# drop unused column
df.drop(['Unnamed: 1', 'Unnamed: 2'], axis=1, inplace=True)

In [7]:
# rename firm name and fiscal period columns
df.rename(columns={'Unnamed: 0.1': '企業名'}, inplace=True)
df.rename(columns={'Unnamed: 3': '決算期'}, inplace=True)

In [8]:
# change date columns from str to datetime
# 決算期は月データ。
# https://teratail.com/questions/280394
# https://stackoverflow.com/questions/14425133/date-object-with-year-and-month-only
for col in ['決算発表日', '事業年度開始年月日［３ヵ月］', '事業年度終了年月日']:
    df[col] = pd.to_datetime(df[col], yearfirst=True, format="%Y/%m/%d")

# df["決算期"] = df["決算期"].apply(lambda x: (int(x[:4]), int(x[4+1:])))
df

,企業名,決算期,連結基準フラグ,決算種別フラグ,決算発表日,事業年度開始年月日［３ヵ月］,事業年度終了年月日,１株当たり利益［３ヵ月］,１株当たり利益［累計］,当期純利益（連結）［累計］,【ＱＴＲ】当期利益,棚卸資産,受取手形・売掛金／売掛金及びその他の短期債権,資本的支出,売上総利益［累計］,【ＱＴＲ】売上総利益,販売費及び一般管理費［累計］,法人税等［累計］,法人税・住民税及び事業税合計／当期税金費用［累計］,税金等調整前当期純利益［累計］,税金等調整前当期利益［累計］,【ＱＴＲ】税金等調整前当期利益,１株当たり税引前利益,売上高・営業収益［累計］,【ＱＴＲ】売上高・営業収益,１株当たり売上高,期末従業員数,純資産合計／資本合計,【ＱＴＲ】純資産,１株当たり純資産,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数
0,極洋,1999/09,0,22,NaT,NaT,1999-09-30,nan,1.70,nan,nan,"15,996.00","21,594.00",nan,"5,934.00",nan,"5,028.00",195.00,195.00,387.00,387.00,nan,6.83,"70,743.00",nan,"1,248.96",511.00,nan,nan,80.74,"113,282,837.00",nan,"113,282,837.00",546.00
1,極洋,2000/03,1,10,2000-05-18,NaT,2000-03-31,nan,2.89,nan,nan,"18,944.00","19,662.00","2,323.00","15,788.00",nan,"12,946.00",428.00,606.00,791.00,791.00,nan,6.98,"171,031.00",nan,"1,509.78","1,148.00",nan,nan,93.96,"113,282,261.00",nan,"113,282,837.00",668.00
2,日本水産,1999/09,0,22,NaT,NaT,1999-09-30,nan,6.34,nan,nan,"30,685.00","46,561.00",nan,"28,531.00",nan,"24,606.00",870.00,870.00,"2,754.00","2,754.00",nan,18.53,"164,091.00",nan,"1,104.21","1,890.00",nan,nan,243.73,"297,210,277.00",nan,"297,210,277.00","2,482.00"
3,日本水産,2000/03,1,10,2000-05-26,NaT,2000-03-31,nan,17.04,nan,nan,"49,425.00","54,026.00","10,284.00","86,090.00",nan,"76,802.00","5,136.00","5,082.00","10,876.00","10,876.00",nan,36.60,"472,297.00",nan,"1,589.26","6,159.00",nan,nan,274.41,"297,179,563.00",nan,"295,926,277.00","1,518.00"
4,マルハニチロ,1999/09,0,22,NaT,NaT,1999-09-30,nan,4.51,nan,nan,"47,633.00","36,463.00",nan,"21,285.00",nan,"17,240.00",97.00,97.00,"1,452.00","1,452.00",nan,9.68,"157,620.00",nan,"1,050.80","1,382.00",nan,nan,85.13,"300,000,000.00",nan,"300,000,000.00",452.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143652,グローセル,2021/03,1,10,2021-05-14,2021-01-01,2021-03-31,nan,-15.17,-367.00,-100.00,"10,813.00","14,239.00",77.00,"5,580.00","1,525.00","6,074.00",105.00,126.00,-261.00,-261.00,103.00,-10.78,"59,861.00","17,276.00","2,471.84",468.00,"22,501.00","22,501.00",924.87,"24,217,195.00",nan,"26,426,800.00","2,097,045.00"
143653,ベルーナ,2020/06,1,21,2020-07-31,2020-04-01,2020-06-30,15.44,15.44,"1,486.00","1,492.00","35,174.00","11,772.00",nan,"28,666.00","28,666.00","26,197.00","1,129.00","1,189.00","2,616.00","2,616.00","2,616.00",108.26,"48,534.00","48,534.00","2,008.50",nan,"103,798.00","103,798.00",nan,"96,657,070.00","96,657,070.00","97,244,472.00","587,411.00"
143654,ベルーナ,2020/09,1,22,2020-10-30,2020-07-01,2020-09-30,14.80,30.24,"2,913.00","1,431.00","37,817.00","10,293.00","4,435.00","53,751.00","25,085.00","49,186.00","1,971.00","2,107.00","4,884.00","4,884.00","2,268.00",101.05,"91,139.00","42,605.00","1,885.75",nan,"105,489.00","105,489.00",nan,"96,660,785.00",nan,"97,244,472.00","571,586.00"
143655,ベルーナ,2020/12,1,23,2021-01-29,2020-10-01,2020-12-31,58.93,89.18,"8,606.00","5,697.00","38,232.00","13,629.00",nan,"90,254.00","36,503.00","78,646.00","4,878.00","4,926.00","13,484.00","13,484.00","8,600.00",185.99,"154,145.00","63,006.00","2,126.18",nan,"109,945.00","109,945.00",nan,"96,664,827.00",nan,"97,244,472.00","571,610.00"
143656,ベルーナ,2021/03,1,10,2021-05-13,NaT,2021-03-31,nan,114.17,"11,019.00","2,416.00","36,320.00","10,242.00","8,912.00","121,556.00","31,302.00","105,821.00","6,723.00","6,999.00","17,743.00","17,743.00","4,259.00",183.55,"206,499.00","52,354.00","2,136.19","3,320.00","113,231.00","113,231.00","1,164.97","96,666,782.00",nan,"97,244,472.00","571,852.00"

In [9]:
# generate year and month column for "決算期"
df["決算期（年）"] = df["決算期"].apply(lambda x: int(x[:4]))
df["決算期（月）"] = df["決算期"].apply(lambda x: int(x[4+1:]))
df

,企業名,決算期,連結基準フラグ,決算種別フラグ,決算発表日,事業年度開始年月日［３ヵ月］,事業年度終了年月日,１株当たり利益［３ヵ月］,１株当たり利益［累計］,当期純利益（連結）［累計］,【ＱＴＲ】当期利益,棚卸資産,受取手形・売掛金／売掛金及びその他の短期債権,資本的支出,売上総利益［累計］,【ＱＴＲ】売上総利益,販売費及び一般管理費［累計］,法人税等［累計］,法人税・住民税及び事業税合計／当期税金費用［累計］,税金等調整前当期純利益［累計］,税金等調整前当期利益［累計］,【ＱＴＲ】税金等調整前当期利益,１株当たり税引前利益,売上高・営業収益［累計］,【ＱＴＲ】売上高・営業収益,１株当たり売上高,期末従業員数,純資産合計／資本合計,【ＱＴＲ】純資産,１株当たり純資産,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数,決算期（年）,決算期（月）
0,極洋,1999/09,0,22,NaT,NaT,1999-09-30,nan,1.70,nan,nan,"15,996.00","21,594.00",nan,"5,934.00",nan,"5,028.00",195.00,195.00,387.00,387.00,nan,6.83,"70,743.00",nan,"1,248.96",511.00,nan,nan,80.74,"113,282,837.00",nan,"113,282,837.00",546.00,1999,9
1,極洋,2000/03,1,10,2000-05-18,NaT,2000-03-31,nan,2.89,nan,nan,"18,944.00","19,662.00","2,323.00","15,788.00",nan,"12,946.00",428.00,606.00,791.00,791.00,nan,6.98,"171,031.00",nan,"1,509.78","1,148.00",nan,nan,93.96,"113,282,261.00",nan,"113,282,837.00",668.00,2000,3
2,日本水産,1999/09,0,22,NaT,NaT,1999-09-30,nan,6.34,nan,nan,"30,685.00","46,561.00",nan,"28,531.00",nan,"24,606.00",870.00,870.00,"2,754.00","2,754.00",nan,18.53,"164,091.00",nan,"1,104.21","1,890.00",nan,nan,243.73,"297,210,277.00",nan,"297,210,277.00","2,482.00",1999,9
3,日本水産,2000/03,1,10,2000-05-26,NaT,2000-03-31,nan,17.04,nan,nan,"49,425.00","54,026.00","10,284.00","86,090.00",nan,"76,802.00","5,136.00","5,082.00","10,876.00","10,876.00",nan,36.60,"472,297.00",nan,"1,589.26","6,159.00",nan,nan,274.41,"297,179,563.00",nan,"295,926,277.00","1,518.00",2000,3
4,マルハニチロ,1999/09,0,22,NaT,NaT,1999-09-30,nan,4.51,nan,nan,"47,633.00","36,463.00",nan,"21,285.00",nan,"17,240.00",97.00,97.00,"1,452.00","1,452.00",nan,9.68,"157,620.00",nan,"1,050.80","1,382.00",nan,nan,85.13,"300,000,000.00",nan,"300,000,000.00",452.00,1999,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143652,グローセル,2021/03,1,10,2021-05-14,2021-01-01,2021-03-31,nan,-15.17,-367.00,-100.00,"10,813.00","14,239.00",77.00,"5,580.00","1,525.00","6,074.00",105.00,126.00,-261.00,-261.00,103.00,-10.78,"59,861.00","17,276.00","2,471.84",468.00,"22,501.00","22,501.00",924.87,"24,217,195.00",nan,"26,426,800.00","2,097,045.00",2021,3
143653,ベルーナ,2020/06,1,21,2020-07-31,2020-04-01,2020-06-30,15.44,15.44,"1,486.00","1,492.00","35,174.00","11,772.00",nan,"28,666.00","28,666.00","26,197.00","1,129.00","1,189.00","2,616.00","2,616.00","2,616.00",108.26,"48,534.00","48,534.00","2,008.50",nan,"103,798.00","103,798.00",nan,"96,657,070.00","96,657,070.00","97,244,472.00","587,411.00",2020,6
143654,ベルーナ,2020/09,1,22,2020-10-30,2020-07-01,2020-09-30,14.80,30.24,"2,913.00","1,431.00","37,817.00","10,293.00","4,435.00","53,751.00","25,085.00","49,186.00","1,971.00","2,107.00","4,884.00","4,884.00","2,268.00",101.05,"91,139.00","42,605.00","1,885.75",nan,"105,489.00","105,489.00",nan,"96,660,785.00",nan,"97,244,472.00","571,586.00",2020,9
143655,ベルーナ,2020/12,1,23,2021-01-29,2020-10-01,2020-12-31,58.93,89.18,"8,606.00","5,697.00","38,232.00","13,629.00",nan,"90,254.00","36,503.00","78,646.00","4,878.00","4,926.00","13,484.00","13,484.00","8,600.00",185.99,"154,145.00","63,006.00","2,126.18",nan,"109,945.00","109,945.00",nan,"96,664,827.00",nan,"97,244,472.00","571,610.00",2020,12
143656,ベルーナ,2021/03,1,10,2021-05-13,NaT,2021-03-31,nan,114.17,"11,019.00","2,416.00","36,320.00","10,242.00","8,912.00","121,556.00","31,302.00","105,821.00","6,723.00","6,999.00","17,743.00","17,743.00","4,259.00",183.55,"206,499.00","52,354.00","2,136.19","3,320.00","113,231.00","113,231.00","1,164.97","96,666,782.00",nan,"97,244,472.00","571,852.00",2021,3

In [10]:
# set multiindex ["企業名", "決算期"]
df = df.set_index(["企業名", "決算期（年）", "決算期（月）"])

# sorting firm name for multiindex slicing
df.sort_index(level=0, inplace=True)

df

                               決算期  連結基準フラグ  決算種別フラグ      決算発表日  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6       2007/06        1       10 2007-08-24
                   9       2007/09        1       21 2007-11-15
                   12      2007/12        1       22 2008-02-27
            2008   3       2008/03        1       23 2008-05-23
                   6       2008/06        1       10 2008-08-22
...                            ...      ...      ...        ...
ｇｕｍｉ        2020   1       2020/01        1       23 2020-03-06
                   4       2020/04        1       10 2020-06-09
                   7       2020/07        1       21 2020-09-10
                   10      2020/10        1       22 2020-12-10
            2021   1       2021/01        1       23 2021-03-12

                          事業年度開始年月日［３ヵ月］  事業年度終了年月日  １株当たり利益［３ヵ月］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6                 NaT 2007-06-30           nan
                   9          2007-07-01 2007-09-30          7.16
                   12                NaT 2007-12-31           nan
            2008   3                 NaT 2008-03-31           nan
                   6                 NaT 2008-06-30           nan
...                                  ...        ...           ...
ｇｕｍｉ        2020   1          2019-11-01 2020-01-31         15.34
                   4          2020-02-01 2020-04-30         44.05
                   7          2020-05-01 2020-07-31         29.87
                   10         2020-08-01 2020-10-31          3.42
            2021   1          2020-11-01 2021-01-31         19.63

                           １株当たり利益［累計］  当期純利益（連結）［累計］  【ＱＴＲ】当期利益     棚卸資産  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6             18.13            nan        nan 2,785.00
                   9              7.16            nan     393.00 2,983.00
                   12             2.05            nan    -281.00 3,132.00
            2008   3              7.48            nan     299.00 3,015.00
                   6             11.10            nan     198.00 3,072.00
...                                ...            ...        ...      ...
ｇｕｍｉ        2020   1             14.24         229.00     462.00      nan
                   4             58.32       1,472.00   1,328.00      nan
                   7             29.87         893.00     901.00      nan
                   10            33.27         988.00     103.00      nan
            2021   1             52.90       1,570.00     594.00      nan

                           受取手形・売掛金／売掛金及びその他の短期債権    資本的支出  売上総利益［累計］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6                    10,608.00    78.00   2,058.00
                   9                    10,731.00    44.00   2,554.00
                   12                    8,980.00   113.00   4,810.00
            2008   3                     7,775.00   107.00   7,203.00
                   6                     6,872.00   264.00   9,372.00
...                                           ...      ...        ...
ｇｕｍｉ        2020   1                     3,050.00      nan   4,579.00
                   4                     2,968.00 2,940.00   6,428.00
                   7                     2,348.00      nan   1,781.00
                   10                    2,245.00 1,132.00   2,976.00
            2021   1                     2,438.00      nan   4,422.00

                           【ＱＴＲ】売上総利益  販売費及び一般管理費［累計］  法人税等［累計］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6              nan        3,233.00 -2,058.00
                   9         2,554.00        1,860.00    272.00
                   12        2,256.00        3,816.00    299.00
            2008   3         2,393.00        5,696.00    383.00
                   6         2,169.00        7,574.00    619.00
...                               ...             ...       ...
ｇｕｍｉ        2020   1         2,011.00        3,281.00     70.00
                   4         1,849.00        4,202.00   -523.00
                   7         1,781.00          831.00    186.00
                   10        1,195.00        1,657.00    419.00
            2021   1         1,446.00        2,568.00    754.00

                           法人税・住民税及び事業税合計／当期税金費用［累計］  税金等調整前当期純利益［累計］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6                          -20.00        -1,062.00
                   9                          116.00              nan
                   12                          85.00           412.00
            2008   3                          160.00           794.00
                   6                          227.00         1,229.00
...                                              ...              ...
ｇｕｍｉ        2020   1                           91.00           300.00
                   4                           20.00           948.00
                   7                          150.00         1,079.00
                   10                         272.00         1,408.00
            2021   1                          468.00         2,325.00

                           税金等調整前当期利益［累計］  【ＱＴＲ】税金等調整前当期利益  １株当たり税引前利益  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6            -1,062.00              nan     -115.95
                   9               666.00           666.00         nan
                   12              412.00          -254.00       14.99
            2008   3               794.00           382.00       19.26
                   6             1,229.00           435.00       22.37
...                                   ...              ...         ...
ｇｕｍｉ        2020   1               300.00           424.00       13.28
                   4               948.00           648.00       31.46
                   7             1,079.00         1,079.00      142.96
                   10            1,408.00           329.00       93.22
            2021   1             2,325.00           917.00      102.58

                           売上高・営業収益［累計］  【ＱＴＲ】売上高・営業収益  １株当たり売上高  期末従業員数  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6           7,588.00            nan    828.46  742.00
                   9           6,141.00       6,141.00       nan     nan
                   12         11,914.00       5,773.00    433.61  744.00
            2008   3          17,988.00       6,074.00    436.42     nan
                   6          23,674.00       5,686.00    430.90  772.00
...                                 ...            ...       ...     ...
ｇｕｍｉ        2020   1          14,567.00       5,680.00    644.74     nan
                   4          19,827.00       5,260.00    657.98  852.00
                   7           5,351.00       5,351.00    708.99     nan
                   10          9,833.00       4,482.00    651.02     nan
            2021   1          14,845.00       5,012.00    654.96     nan

                           純資産合計／資本合計  【ＱＴＲ】純資産  １株当たり純資産   期中平均株式数［累計］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6        21,717.00       nan    395.18 54,955,303.00
                   9        21,316.00 21,316.00    387.90           nan
                   12       20,939.00 20,939.00    381.04 54,953,000.00
            2008   3        20,269.00 20,269.00    369.22 54,955,716.00
                   6        20,507.00 20,507.00    373.55 54,941,000.00
...                               ...       ...       ...           ...
ｇｕｍｉ        2020   1        14,040.00 14,040.00       nan 30,124,828.00
                   4        15,169.00 15,169.00    470.93 30,133,166.00
                   7        15,879.00 15,879.00       nan 30,189,380.00
                   10       16,049.00 16,049.00       nan 30,208,191.00
            2021   1        16,711.00 16,711.00       nan 30,220,748.00

                           期中平均株式数［３ヵ月］     期末発行済株式総数        自己株式数
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6                nan 56,590,410.00 1,635,869.00
                   9                nan           nan          nan
                   12               nan 56,590,410.00 1,637,131.00
            2008   3                nan           nan          nan
                   6                nan 56,590,410.00 1,692,988.00
...                                 ...           ...          ...
ｇｕｍｉ        2020   1                nan 31,119,500.00   980,000.00
                   4                nan 31,169,400.00   980,000.00
                   7      30,189,380.00 31,169,400.00   980,039.00
                   10               nan 31,225,900.00   980,039.00
            2021   1                nan 31,225,900.00   980,039.00

[143657 rows x 33 columns]

In [11]:
df.index.get_level_values("企業名").unique()

Index(['あい　ホールディングス', 'あさひ', 'あみやき亭', 'あらた', 'いすゞ自動車', 'いちご', 'いちごオフィスリート投資法人',
       'いちごグリーンインフラ投資法人', 'いちごホテルリート投資法人', 'いであ',
       ...
       'ＶＴホールディングス', 'ＷＤＢホールディングス', 'ＷＯＷ　ＷＯＲＬＤ', 'ＷＯＷＯＷ', 'Ｚホールディングス', 'ＺＯＺＯ',
       'ａｎｄ　ｆａｃｔｏｒｙ', 'ｅＢＡＳＥ', 'ｅｎｉｓｈ', 'ｇｕｍｉ'],
      dtype='object', name='企業名', length=2118)

In [12]:
df.index.get_level_values("決算期（年）").unique()

Int64Index([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
            2018, 2019, 2020, 2021, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
            1999],
           dtype='int64', name='決算期（年）')

In [13]:
df.index.get_level_values("決算期（月）").unique()

Int64Index([6, 9, 12, 3, 2, 8, 11, 5, 4, 10, 1, 7], dtype='int64', name='決算期（月）')

In [14]:
df.loc["日本水産", 2017, 6]

決算期                                      2017/06
連結基準フラグ                                        1
決算種別フラグ                                       21
決算発表日                        2017-08-04 00:00:00
事業年度開始年月日［３ヵ月］               2017-04-01 00:00:00
事業年度終了年月日                    2017-06-30 00:00:00
１株当たり利益［３ヵ月］                               16.58
１株当たり利益［累計］                                16.58
当期純利益（連結）［累計］                           5,324.00
【ＱＴＲ】当期利益                               5,164.00
棚卸資産                                  113,348.00
受取手形・売掛金／売掛金及びその他の短期債権                 78,574.00
資本的支出                                        NaN
売上総利益［累計］                              36,486.00
【ＱＴＲ】売上総利益                             36,486.00
販売費及び一般管理費［累計］                         29,745.00
法人税等［累計］                                2,584.00
法人税・住民税及び事業税合計／当期税金費用［累計］               2,258.00
税金等調整前当期純利益［累計］                         7,909.00
税金等調整前当期利益［累計］                          7,909.00
【ＱＴＲ】税金等調整前当期利益                         7,909.00
１株当たり税引前利益                                101.57
売上高・営業収益［累計］                          162,918.00
【ＱＴＲ】売上高・営業収益                         162,918.00
１株当たり売上高                                2,092.15
期末従業員数                                       NaN
純資産合計／資本合計                            143,449.00
【ＱＴＲ】純資産                              143,449.00
１株当たり純資産                                     NaN
期中平均株式数［累計］                       311,484,262.00
期中平均株式数［３ヵ月］                      311,484,262.00
期末発行済株式総数                         312,430,277.00
自己株式数                                 946,522.00
Name: (日本水産, 2017, 6), dtype: object

In [15]:
# https://note.nkmk.me/python-pandas-multiindex-indexing/
df.loc[pd.IndexSlice[["極洋", "ホウスイ"], [2018, 2010], [3, 12]], :]

                        決算期  連結基準フラグ  決算種別フラグ      決算発表日 事業年度開始年月日［３ヵ月］  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3       2010/03        1       10 2010-05-13     2010-01-01
            12      2010/12        1       23 2011-01-27     2010-10-01
     2018   3       2018/03        1       10 2018-05-14     2018-01-01
            12      2018/12        1       23 2019-01-31     2018-10-01
極洋   2010   3       2010/03        1       10 2010-05-14     2010-01-01
            12      2010/12        1       23 2011-02-04     2010-10-01
     2018   3       2018/03        1       10 2018-05-10     2018-01-01
            12      2018/12        1       23 2019-02-08     2018-10-01

                    事業年度終了年月日  １株当たり利益［３ヵ月］  １株当たり利益［累計］  当期純利益（連結）［累計］  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3      2010-03-31          0.16         2.72            nan
            12     2010-12-31          0.90         1.73         167.00
     2018   3      2018-03-31         -5.55        50.68         499.00
            12     2018-12-31          9.14        17.30         221.00
極洋   2010   3      2010-03-31          0.87        10.27            nan
            12     2010-12-31          8.18         5.85         631.00
     2018   3      2018-03-31         39.90       304.29       3,136.00
            12     2018-12-31        155.01       231.46       2,537.00

                    【ＱＴＲ】当期利益      棚卸資産  受取手形・売掛金／売掛金及びその他の短期債権    資本的支出  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3           14.00  1,003.00                2,628.00 1,985.00
            12          75.00  1,335.00                4,853.00   805.00
     2018   3          -46.00  1,950.00                6,997.00   491.00
            12          76.00  2,276.00               10,532.00      nan
極洋   2010   3           92.00 23,187.00               15,845.00 2,904.00
            12         862.00 29,711.00               28,208.00 1,739.00
     2018   3          427.00 39,921.00               32,879.00 1,372.00
            12       1,677.00 46,206.00               51,332.00      nan

                    売上総利益［累計］  【ＱＴＲ】売上総利益  販売費及び一般管理費［累計］  法人税等［累計］  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3        3,206.00      694.00        2,934.00    122.00
            12       2,333.00      847.00        2,134.00    112.00
     2018   3        5,711.00    1,253.00        4,874.00    237.00
            12       4,345.00    1,574.00        3,789.00    164.00
極洋   2010   3       17,851.00    4,074.00       15,670.00    923.00
            12      14,230.00    5,370.00       12,778.00    904.00
     2018   3       23,603.00    4,620.00       19,536.00  1,416.00
            12      18,372.00    7,366.00       15,091.00  1,128.00

                    法人税・住民税及び事業税合計／当期税金費用［累計］  税金等調整前当期純利益［累計］  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3                           81.00           386.00
            12                            nan           280.00
     2018   3                          288.00           736.00
            12                            nan           386.00
極洋   2010   3                        1,204.00         2,173.00
            12                       1,107.00         1,536.00
     2018   3                        1,474.00         4,552.00
            12                         806.00         3,666.00

                    税金等調整前当期利益［累計］  【ＱＴＲ】税金等調整前当期利益  １株当たり税引前利益  売上高・営業収益［累計］  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3               386.00            28.00        4.61     36,253.00
            12              280.00           153.00        4.46     27,058.00
     2018   3               736.00           -66.00       87.89     73,928.00
            12              386.00           199.00       61.46     59,285.00
極洋   2010   3             2,173.00           279.00       20.54    145,778.00
            12            1,536.00         1,727.00       19.37    125,465.00
     2018   3             4,552.00           478.00      431.36    254,783.00
            12            3,666.00         2,539.00      452.28    197,783.00

                    【ＱＴＲ】売上高・営業収益  １株当たり売上高   期末従業員数  純資産合計／資本合計  【ＱＴＲ】純資産  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3            8,335.00    432.86   231.00    5,439.00  5,439.00
            12          10,062.00    430.77   226.00    5,434.00  5,434.00
     2018   3           17,384.00  8,828.27   321.00    6,480.00  6,480.00
            12          22,045.00  9,439.83      nan    6,509.00  6,509.00
極洋   2010   3           32,776.00  1,377.73 2,909.00   18,538.00 18,538.00
            12          47,834.00  1,582.51 2,700.00   18,207.00 18,207.00
     2018   3           56,460.00 24,143.85 2,257.00   29,243.00 29,243.00
            12          78,581.00 24,400.82      nan   31,533.00 31,533.00

                    １株当たり純資産    期中平均株式数［累計］   期中平均株式数［３ヵ月］      期末発行済株式総数  \
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3          62.93  83,752,000.00            nan  83,790,000.00
            12         62.64  83,750,039.00  83,749,000.00  83,790,000.00
     2018   3         710.73   8,374,011.00            nan   8,379,000.00
            12        706.05   8,373,737.00            nan   8,379,000.00
極洋   2010   3         170.61 105,810,000.00            nan 109,282,837.00
            12        168.52 105,709,805.00 105,512,000.00 109,282,837.00
     2018   3       2,679.00  10,552,710.00            nan  10,928,283.00
            12           nan  10,807,451.00            nan  10,928,283.00

                          自己株式数
企業名  決算期（年） 決算期（月）
ホウスイ 2010   3         39,357.00
            12        40,400.00
     2018   3          5,225.00
            12         5,312.00
極洋   2010   3      3,473,383.00
            12     4,184,693.00
     2018   3        144,712.00
            12       109,112.00

In [16]:
# save multiindexed df
df.to_csv("./../data/processed/tse1_multiindexed.csv")

In [17]:
df = pd.read_csv("./../data/processed/tse1_multiindexed.csv", index_col=[0, 1, 2])

In [18]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 143657 entries, ('あい\u3000ホールディングス', 2007, 6) to ('ｇｕｍｉ', 2021, 1)
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   決算期                        143657 non-null  object
 1   連結基準フラグ                    143657 non-null  int64
 2   決算種別フラグ                    143657 non-null  int64
 3   決算発表日                      139242 non-null  object
 4   事業年度開始年月日［３ヵ月］             104537 non-null  object
 5   事業年度終了年月日                  143427 non-null  object
 6   １株当たり利益［３ヵ月］               100680 non-null  float64
 7   １株当たり利益［累計］                139112 non-null  float64
 8   当期純利益（連結）［累計］              76554 non-null   float64
 9   【ＱＴＲ】当期利益                  123639 non-null  float64
 10  棚卸資産                       134394 non-null  float64
 11  受取手形・売掛金／売掛金及びその他の短期債権     139797 non-null  float64
 12  資本的支出                      102064 non-null  float64
 13  売上総利益［累計］                  139744 non-null  float64
 14  【ＱＴＲ】売上総利益                 122705 non-null  float64
 15  販売費及び一般管理費［累計］             140440 non-null  float64
 16  法人税等［累計］                   140129 non-null  float64
 17  法人税・住民税及び事業税合計／当期税金費用［累計］  115021 non-null  float64
 18  税金等調整前当期純利益［累計］            127921 non-null  float64
 19  税金等調整前当期利益［累計］             137365 non-null  float64
 20  【ＱＴＲ】税金等調整前当期利益            119293 non-null  float64
 21  １株当たり税引前利益                 128470 non-null  float64
 22  売上高・営業収益［累計］               142907 non-null  float64
 23  【ＱＴＲ】売上高・営業収益              126279 non-null  float64
 24  １株当たり売上高                   128275 non-null  float64
 25  期末従業員数                     73334 non-null   float64
 26  純資産合計／資本合計                 111707 non-null  float64
 27  【ＱＴＲ】純資産                   108814 non-null  float64
 28  １株当たり純資産                   102673 non-null  float64
 29  期中平均株式数［累計］                126739 non-null  float64
 30  期中平均株式数［３ヵ月］               37711 non-null   float64
 31  期末発行済株式総数                  128577 non-null  float64
 32  自己株式数                      116107 non-null  float64
dtypes: float64(27), int64(2), object(4)
memory usage: 36.7+ MB

## 単位の変換・統一

In [19]:
# change unit
# 百万円 単位の列に100万かけて 円単位に変換

# store unit header
unit_header = pd.read_excel("./../data/raw/FQ/FINFSTA_quarterly_consolidated/2020.xlsx", '決算期ベース.有価証券報告書優先.連結優先(IFRS優先)').iloc[1]
unit_header

Unnamed: 0                     NaN
Unnamed: 1                     NaN
Unnamed: 2                     NaN
Unnamed: 3                     NaN
連結基準フラグ                      1桁コード
決算種別フラグ                      2桁コード
決算発表日                          年月日
事業年度開始年月日［３ヵ月］                 年月日
事業年度終了年月日                      年月日
１株当たり利益［３ヵ月］                     円
１株当たり利益［累計］                      円
当期純利益（連結）［累計］                  百万円
【ＱＴＲ】当期利益                      百万円
棚卸資産                           百万円
受取手形・売掛金／売掛金及びその他の短期債権         百万円
資本的支出                          百万円
売上総利益［累計］                      百万円
【ＱＴＲ】売上総利益                     百万円
販売費及び一般管理費［累計］                 百万円
法人税等［累計］                       百万円
法人税・住民税及び事業税合計／当期税金費用［累計］      百万円
税金等調整前当期純利益［累計］                百万円
税金等調整前当期利益［累計］                 百万円
【ＱＴＲ】税金等調整前当期利益                百万円
１株当たり税引前利益                       円
売上高・営業収益［累計］                   百万円
【ＱＴＲ】売上高・営業収益                  百万円
１株当たり売上高                         円
期末従業員数                           人
純資産合計／資本合計                     百万円
【ＱＴＲ】純資産                       百万円
１株当たり純資産                         円
期中平均株式数［累計］                      株
期中平均株式数［３ヵ月］                     株
期末発行済株式総数                        株
自己株式数                            株
Name: 1, dtype: object

In [20]:
# x 1,000,000 for "百万円" columns
unit_header[unit_header == "百万円"]

当期純利益（連結）［累計］                百万円
【ＱＴＲ】当期利益                    百万円
棚卸資産                         百万円
受取手形・売掛金／売掛金及びその他の短期債権       百万円
資本的支出                        百万円
売上総利益［累計］                    百万円
【ＱＴＲ】売上総利益                   百万円
販売費及び一般管理費［累計］               百万円
法人税等［累計］                     百万円
法人税・住民税及び事業税合計／当期税金費用［累計］    百万円
税金等調整前当期純利益［累計］              百万円
税金等調整前当期利益［累計］               百万円
【ＱＴＲ】税金等調整前当期利益              百万円
売上高・営業収益［累計］                 百万円
【ＱＴＲ】売上高・営業収益                百万円
純資産合計／資本合計                   百万円
【ＱＴＲ】純資産                     百万円
Name: 1, dtype: object

In [21]:
million_columns = unit_header[unit_header == "百万円"].index.values
million_columns

array(['当期純利益（連結）［累計］', '【ＱＴＲ】当期利益', '棚卸資産', '受取手形・売掛金／売掛金及びその他の短期債権',
       '資本的支出', '売上総利益［累計］', '【ＱＴＲ】売上総利益', '販売費及び一般管理費［累計］', '法人税等［累計］',
       '法人税・住民税及び事業税合計／当期税金費用［累計］', '税金等調整前当期純利益［累計］', '税金等調整前当期利益［累計］',
       '【ＱＴＲ】税金等調整前当期利益', '売上高・営業収益［累計］', '【ＱＴＲ】売上高・営業収益', '純資産合計／資本合計',
       '【ＱＴＲ】純資産'], dtype=object)

In [22]:
df[million_columns] = df[million_columns] * 1e+6

In [23]:
df

                               決算期  連結基準フラグ  決算種別フラグ       決算発表日  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6       2007/06        1       10  2007-08-24
                   9       2007/09        1       21  2007-11-15
                   12      2007/12        1       22  2008-02-27
            2008   3       2008/03        1       23  2008-05-23
                   6       2008/06        1       10  2008-08-22
...                            ...      ...      ...         ...
ｇｕｍｉ        2020   1       2020/01        1       23  2020-03-06
                   4       2020/04        1       10  2020-06-09
                   7       2020/07        1       21  2020-09-10
                   10      2020/10        1       22  2020-12-10
            2021   1       2021/01        1       23  2021-03-12

                          事業年度開始年月日［３ヵ月］   事業年度終了年月日  １株当たり利益［３ヵ月］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6                 NaN  2007-06-30           nan
                   9          2007-07-01  2007-09-30          7.16
                   12                NaN  2007-12-31           nan
            2008   3                 NaN  2008-03-31           nan
                   6                 NaN  2008-06-30           nan
...                                  ...         ...           ...
ｇｕｍｉ        2020   1          2019-11-01  2020-01-31         15.34
                   4          2020-02-01  2020-04-30         44.05
                   7          2020-05-01  2020-07-31         29.87
                   10         2020-08-01  2020-10-31          3.42
            2021   1          2020-11-01  2021-01-31         19.63

                           １株当たり利益［累計］    当期純利益（連結）［累計］        【ＱＴＲ】当期利益  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6             18.13              nan              nan
                   9              7.16              nan   393,000,000.00
                   12             2.05              nan  -281,000,000.00
            2008   3              7.48              nan   299,000,000.00
                   6             11.10              nan   198,000,000.00
...                                ...              ...              ...
ｇｕｍｉ        2020   1             14.24   229,000,000.00   462,000,000.00
                   4             58.32 1,472,000,000.00 1,328,000,000.00
                   7             29.87   893,000,000.00   901,000,000.00
                   10            33.27   988,000,000.00   103,000,000.00
            2021   1             52.90 1,570,000,000.00   594,000,000.00

                                      棚卸資産  受取手形・売掛金／売掛金及びその他の短期債権  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6      2,785,000,000.00       10,608,000,000.00
                   9      2,983,000,000.00       10,731,000,000.00
                   12     3,132,000,000.00        8,980,000,000.00
            2008   3      3,015,000,000.00        7,775,000,000.00
                   6      3,072,000,000.00        6,872,000,000.00
...                                    ...                     ...
ｇｕｍｉ        2020   1                   nan        3,050,000,000.00
                   4                   nan        2,968,000,000.00
                   7                   nan        2,348,000,000.00
                   10                  nan        2,245,000,000.00
            2021   1                   nan        2,438,000,000.00

                                     資本的支出        売上総利益［累計］       【ＱＴＲ】売上総利益  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6         78,000,000.00 2,058,000,000.00              nan
                   9         44,000,000.00 2,554,000,000.00 2,554,000,000.00
                   12       113,000,000.00 4,810,000,000.00 2,256,000,000.00
            2008   3        107,000,000.00 7,203,000,000.00 2,393,000,000.00
                   6        264,000,000.00 9,372,000,000.00 2,169,000,000.00
...                                    ...              ...              ...
ｇｕｍｉ        2020   1                   nan 4,579,000,000.00 2,011,000,000.00
                   4      2,940,000,000.00 6,428,000,000.00 1,849,000,000.00
                   7                   nan 1,781,000,000.00 1,781,000,000.00
                   10     1,132,000,000.00 2,976,000,000.00 1,195,000,000.00
            2021   1                   nan 4,422,000,000.00 1,446,000,000.00

                            販売費及び一般管理費［累計］          法人税等［累計］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6      3,233,000,000.00 -2,058,000,000.00
                   9      1,860,000,000.00    272,000,000.00
                   12     3,816,000,000.00    299,000,000.00
            2008   3      5,696,000,000.00    383,000,000.00
                   6      7,574,000,000.00    619,000,000.00
...                                    ...               ...
ｇｕｍｉ        2020   1      3,281,000,000.00     70,000,000.00
                   4      4,202,000,000.00   -523,000,000.00
                   7        831,000,000.00    186,000,000.00
                   10     1,657,000,000.00    419,000,000.00
            2021   1      2,568,000,000.00    754,000,000.00

                           法人税・住民税及び事業税合計／当期税金費用［累計］   税金等調整前当期純利益［累計］  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6                  -20,000,000.00 -1,062,000,000.00
                   9                  116,000,000.00               nan
                   12                  85,000,000.00    412,000,000.00
            2008   3                  160,000,000.00    794,000,000.00
                   6                  227,000,000.00  1,229,000,000.00
...                                              ...               ...
ｇｕｍｉ        2020   1                   91,000,000.00    300,000,000.00
                   4                   20,000,000.00    948,000,000.00
                   7                  150,000,000.00  1,079,000,000.00
                   10                 272,000,000.00  1,408,000,000.00
            2021   1                  468,000,000.00  2,325,000,000.00

                             税金等調整前当期利益［累計］  【ＱＴＲ】税金等調整前当期利益  １株当たり税引前利益  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6      -1,062,000,000.00              nan     -115.95
                   9         666,000,000.00   666,000,000.00         nan
                   12        412,000,000.00  -254,000,000.00       14.99
            2008   3         794,000,000.00   382,000,000.00       19.26
                   6       1,229,000,000.00   435,000,000.00       22.37
...                                     ...              ...         ...
ｇｕｍｉ        2020   1         300,000,000.00   424,000,000.00       13.28
                   4         948,000,000.00   648,000,000.00       31.46
                   7       1,079,000,000.00 1,079,000,000.00      142.96
                   10      1,408,000,000.00   329,000,000.00       93.22
            2021   1       2,325,000,000.00   917,000,000.00      102.58

                               売上高・営業収益［累計］    【ＱＴＲ】売上高・営業収益  １株当たり売上高  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6       7,588,000,000.00              nan    828.46
                   9       6,141,000,000.00 6,141,000,000.00       nan
                   12     11,914,000,000.00 5,773,000,000.00    433.61
            2008   3      17,988,000,000.00 6,074,000,000.00    436.42
                   6      23,674,000,000.00 5,686,000,000.00    430.90
...                                     ...              ...       ...
ｇｕｍｉ        2020   1      14,567,000,000.00 5,680,000,000.00    644.74
                   4      19,827,000,000.00 5,260,000,000.00    657.98
                   7       5,351,000,000.00 5,351,000,000.00    708.99
                   10      9,833,000,000.00 4,482,000,000.00    651.02
            2021   1      14,845,000,000.00 5,012,000,000.00    654.96

                           期末従業員数        純資産合計／資本合計          【ＱＴＲ】純資産  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6       742.00 21,717,000,000.00               nan
                   9          nan 21,316,000,000.00 21,316,000,000.00
                   12      744.00 20,939,000,000.00 20,939,000,000.00
            2008   3          nan 20,269,000,000.00 20,269,000,000.00
                   6       772.00 20,507,000,000.00 20,507,000,000.00
...                           ...               ...               ...
ｇｕｍｉ        2020   1          nan 14,040,000,000.00 14,040,000,000.00
                   4       852.00 15,169,000,000.00 15,169,000,000.00
                   7          nan 15,879,000,000.00 15,879,000,000.00
                   10         nan 16,049,000,000.00 16,049,000,000.00
            2021   1          nan 16,711,000,000.00 16,711,000,000.00

                           １株当たり純資産   期中平均株式数［累計］  期中平均株式数［３ヵ月］     期末発行済株式総数  \
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6         395.18 54,955,303.00           nan 56,590,410.00
                   9         387.90           nan           nan           nan
                   12        381.04 54,953,000.00           nan 56,590,410.00
            2008   3         369.22 54,955,716.00           nan           nan
                   6         373.55 54,941,000.00           nan 56,590,410.00
...                             ...           ...           ...           ...
ｇｕｍｉ        2020   1            nan 30,124,828.00           nan 31,119,500.00
                   4         470.93 30,133,166.00           nan 31,169,400.00
                   7            nan 30,189,380.00 30,189,380.00 31,169,400.00
                   10           nan 30,208,191.00           nan 31,225,900.00
            2021   1            nan 30,220,748.00           nan 31,225,900.00

                                 自己株式数
企業名         決算期（年） 決算期（月）
あい　ホールディングス 2007   6      1,635,869.00
                   9               nan
                   12     1,637,131.00
            2008   3               nan
                   6      1,692,988.00
...                                ...
ｇｕｍｉ        2020   1        980,000.00
                   4        980,000.00
                   7        980,039.00
                   10       980,039.00
            2021   1        980,039.00

[143657 rows x 33 columns]

In [24]:
# save unit changed df
df.to_csv("./../data/processed/tse1_unitchanged.csv")

In [25]:
df.describe()

,連結基準フラグ,決算種別フラグ,１株当たり利益［３ヵ月］,１株当たり利益［累計］,当期純利益（連結）［累計］,【ＱＴＲ】当期利益,棚卸資産,受取手形・売掛金／売掛金及びその他の短期債権,資本的支出,売上総利益［累計］,【ＱＴＲ】売上総利益,販売費及び一般管理費［累計］,法人税等［累計］,法人税・住民税及び事業税合計／当期税金費用［累計］,税金等調整前当期純利益［累計］,税金等調整前当期利益［累計］,【ＱＴＲ】税金等調整前当期利益,１株当たり税引前利益,売上高・営業収益［累計］,【ＱＴＲ】売上高・営業収益,１株当たり売上高,期末従業員数,純資産合計／資本合計,【ＱＴＲ】純資産,１株当たり純資産,期中平均株式数［累計］,期中平均株式数［３ヵ月］,期末発行済株式総数,自己株式数
count,"143,657.00","143,657.00","100,680.00","139,112.00","76,554.00","123,639.00","134,394.00","139,797.00","102,064.00","139,744.00","122,705.00","140,440.00","140,129.00","115,021.00","127,921.00","137,365.00","119,293.00","128,470.00","142,907.00","126,279.00","128,275.00","73,334.00","111,707.00","108,814.00","102,673.00","126,739.00","37,711.00","128,577.00","116,107.00"
mean,0.96,18.55,106.77,743.76,"9,464,319,382.40","2,789,565,444.56","37,964,954,447.37","53,194,382,905.21","14,736,539,710.38","46,200,453,278.85","19,276,234,595.17","35,202,492,516.38","4,042,702,145.88","3,910,958,624.95","11,126,518,280.81","9,094,394,525.53","3,779,514,020.10","9,207.48","197,097,788,624.77","82,335,910,436.41","130,811.31","7,012.91","154,440,189,692.68","155,813,462,734.57","19,286.62","135,682,432.99","169,889,161.85","139,504,215.26","4,753,442.75"
std,0.49,5.47,"1,431.73","54,361.23","59,028,737,471.78","21,264,410,939.14","124,505,005,135.23","190,808,553,153.49","91,501,440,461.66","187,784,245,448.23","70,308,868,076.03","148,744,312,076.74","21,150,722,548.58","20,079,478,011.96","63,699,106,856.34","51,350,385,705.16","21,117,180,344.34","2,437,540.76","793,494,570,409.34","296,303,462,993.12","25,455,474.02","24,428.34","613,606,568,435.10","618,652,753,057.28","1,229,975.60","383,755,165.37","458,329,609.23","428,902,348.17","148,059,822.42"
min,0.00,10.00,"-48,623.22","-16,109,006.65","-1,244,579,000,000.00","-1,438,163,000,000.00","1,000,000.00","1,000,000.00","1,000,000.00","-314,012,000,000.00","-409,736,000,000.00","1,000,000.00","-853,182,000,000.00","-91,020,000,000.00","-2,010,283,000,000.00","-2,010,283,000,000.00","-984,026,000,000.00","-7,235,294.12",0.00,"-1,074,904,000,000.00",0.02,0.00,"-1,713,499,000,000.00","-416,811,000,000.00","-4,668,178.50",4.00,385.00,5.00,1.00
25%,1.00,10.00,3.44,7.69,"298,000,000.00","89,000,000.00","1,837,000,000.00","3,000,000,000.00","320,000,000.00","3,015,000,000.00","1,517,000,000.00","2,186,000,000.00","158,000,000.00","155,000,000.00","362,000,000.00","349,000,000.00","166,000,000.00",28.37,"11,718,000,000.00","6,033,500,000.00",945.43,551.00,"12,084,500,000.00","12,351,000,000.00",463.26,"13,409,993.50","14,768,578.00","13,394,374.00","48,495.00"
50%,1.00,21.00,15.37,31.80,"1,254,000,000.00","442,000,000.00","6,964,000,000.00","10,884,000,000.00","1,288,000,000.00","8,204,000,000.00","3,779,000,000.00","6,100,000,000.00","587,000,000.00","551,000,000.00","1,515,000,000.00","1,438,000,000.00","694,000,000.00",95.76,"34,673,000,000.00","16,365,000,000.00","1,860.65","1,363.00","32,170,000,000.00","32,291,500,000.00",932.80,"33,626,785.00","37,789,141.00","34,498,097.00","552,171.00"
75%,1.00,22.00,37.25,86.15,"4,503,000,000.00","1,584,000,000.00","22,995,750,000.00","34,175,000,000.00","5,324,000,000.00","26,356,250,000.00","11,845,000,000.00","19,779,250,000.00","2,054,000,000.00","1,859,000,000.00","5,440,000,000.00","4,974,000,000.00","2,349,000,000.00",225.34,"111,658,000,000.00","49,748,000,000.00","3,965.40","4,200.75","92,981,000,000.00","92,546,750,000.00","1,770.48","94,964,875.50","113,437,830.50","96,707,842.00","2,449,196.00"
max,3.00,24.00,"174,091.52","8,721,863.06","5,078,236,000,000.00","1,932,800,000,000.00","2,888,028,000,000.00","9,714,931,000,000.00","5,121,960,000,000.00","6,949,478,000,000.00","2,004,790,000,000.00","10,754,837,000,000.00","1,303,168,000,000.00","926,089,000,000.00","5,670,456,000,000.00","2,983,381,000,000.00","863,087,000,000.00","872,333,333.33","30,225,681,000,000.00","8,150,032,000,000.00","8,571,333,333.33","385,243.00","24,288,329,000,000.00","24,288,329,000,000.00","367,475,987.09","9,128,219,199.00","9,128,219,199.00","41,200,762,837.00","25,000,000,000.00"