In [1]:
import numpy as np
import pandas as pd
import sys

sys.path.insert(1, "/mnt/d/0ngoing/thesis/repo/src/")
from utils.accuracy import *

In [2]:
y_test = pd.read_csv("./../univariate/y_test.csv", index_col=[0, 1, 2])
y_test

                    y_test
企業名   会計年度 四半期
あらた   2018 Q1   105.420000
           Q2    90.440000
           Q3   106.240000
           Q4    99.220000
      2019 Q1   116.850000
...                    ...
ｅＢＡＳＥ 2019 Q4    18.657982
      2020 Q1     2.010000
           Q2     3.810000
           Q3     3.070000
           Q4     9.989365

[12036 rows x 1 columns]

In [79]:
# original
# tune space

y_hat_mraf_i_tuned_simple = pd.read_csv("./y_hat_mraf_i_tuned_simple.csv", index_col=[0, 1, 2])

y_hat_mraf_i_tuned_simple = y_hat_mraf_i_tuned_simple.loc[y_test.index]

MAPEUB(y_test["y_test"].values, y_hat_mraf_i_tuned_simple["y_hat_mraf_i_tuned_simple"].values)

# choose original as final
y_hat_mraf_i_tuned_simple.to_csv("./y_hat_mraf.csv")

0.45745193651892674

In [61]:
# concat y_hat_mraf
# tune space

y_hat_mraf = pd.DataFrame()

part_list = [
    "./y_hat_mraf_part0.csv",
    "./y_hat_mraf_part1.csv",
    "./y_hat_mraf_part2.csv",
    "./y_hat_mraf_part3.csv",
    "./y_hat_mraf_part4.csv",
    "./y_hat_mraf_part5.csv",
]

for p in part_list:
    part = pd.read_csv(p, index_col=[0, 1, 2])
    part = part.rename(columns=lambda s: s[:-6])
    y_hat_mraf = pd.concat([y_hat_mraf, part], axis=0)

y_hat_mraf = y_hat_mraf.loc[y_test.index]
y_hat_mraf = y_hat_mraf.drop_duplicates()

MAPEUB(y_test["y_test"].values, y_hat_mraf["y_hat_mraf"].values)

0.45755709421199575

In [ ]:
# penalized reg

In [76]:

y_hat = pd.read_csv("./y_hat_ml2_i_tuned_simple.csv", index_col=[0, 1, 2])

y_hat = y_hat.loc[y_test.index]

MAPEUB(y_test["y_test"].values, y_hat[y_hat.columns[0]].values)

0.5032489816391689

In [77]:
y_hat = pd.read_csv("./y_hat_ml2_i_tuned.csv", index_col=[0, 1, 2])

y_hat = y_hat.loc[y_test.index]

MAPEUB(y_test["y_test"].values, y_hat[y_hat.columns[0]].values)

0.5399230808306914

In [78]:
y_hat = pd.read_csv("./colab/y_hat_ml2.csv", index_col=[0, 1, 2])

# y_hat = y_hat.loc[y_test.index]

MAPEUB(y_test["y_test"].values, y_hat[y_hat.columns[0]].values)

0.5032489589316703

In [33]:
# drop_index
y_hat = pd.read_csv("./y_hat_mlm4.csv", index_col=[0, 1, 2])

y_hat = y_hat.loc[y_test.index]
y_hat.to_csv("./y_hat_mlm3.csv")

MAPEUB(y_test["y_test"].values, y_hat[y_hat.columns[0]].values)

0.8012809411536781

In [34]:
y_hat = pd.read_csv("./y_hat_mlm3.csv", index_col=[0, 1, 2])
y_hat

                y_hat_mlm4
企業名   会計年度 四半期
あらた   2018 Q1   263.859095
           Q2   186.013135
           Q3   -90.797436
           Q4    43.663635
      2019 Q1   137.056577
...                    ...
ｅＢＡＳＥ 2019 Q4    31.609783
      2020 Q1    -8.705827
           Q2   -12.323521
           Q3    14.509884
           Q4     8.147153

[12036 rows x 1 columns]